---
title: Things we built
layout: default
permalink: /hacks.html
---

<ul class="index">
  {% for p in site.data.open_source_projects %}
  <li class="index__item project">
    <h3 class="project__title"><a class="project__link" href="{{p.url}}">{{p.title}}</a></h3>
    <div class="project__blurb">{{p.description | markdownify}}</div>
    <div class="project__stack">Uses {% for tool in p.stack %}
      {{ tool.name }}{%- unless forloop.last -%}
        {%- if forloop.rindex == 2 -%}
        {{" and"}}
        {%- else -%}
        ,
        {%- endif -%}
      {% endunless %}
    {%- endfor -%}.</div>
  </li>
  {% endfor %}
</ul>
