---
layout: default
title: the ActiveSphere blog
---
%h2 archive
%ul.archive
  {% for post in site.posts %}
  %li
    %abbr.on {{ post.date | date_to_string }}
    %a{:href => "{{ post.url }}"} {{ post.title }} →
    %abbr.by by {{ post.author }}

    {% if post.excerpt %}
    %summary
      {{ post.excerpt | markdownify }}
      %a{:href => "{{ post.url }}", :class => "more"} more &raquo;
    {% endif %}
  {% endfor %}

