---
layout: default
title: Blogging Like a Hacker
---
%h1.ctoa
  %div.aleft
    %div
      We care about

  %span.rbrace
    {
  %div.aright
    %div
      our Craft.
    %div.and
      &amp;
    %div
      your App.

  %div.clear

  %h2.frontpage
    We specialize in developing user centric Web applications. Our
    iterative design and development model combined with high customer
    collaboration ensures we maximize customer value. We believe that thought the right tools and good
    development practices are the key to solving complex problems.
  
.cols.cols3.clients
  %h2 Clients
  %div 
    %div{:id => "altheabg"}
      %a{:href => "http://www.altheasystems.com", :id => "althea"}
    %div{:id => "mphoriabg"}
      %a{:href => "http://www.mphoria.com/", :id => "mphoria"}
    %div{:id =>  "impactbg"}
      %a{:href =>  "https://www.impactdialing.com", :id => "impact"}
    %div{:id =>  "brandscopebg"}
      %a{:href =>  "http://brandscope.com.au/", :id => "brandscope"}

.cols.cols3{:style => "padding-bottom: 36px"}
  %h2 Technologies
  #tech
    %span{:id =>  "railsbg"}
      %a{:href =>  "#", :id => "rails"}
    %span{:id =>  "nodejsbg"}
      %a{:href =>  "#", :id => "nodejs"}
    %span{:id =>  "rubybg"}
      %a{:href =>  "#", :id => "ruby"}
    %span{:id =>  "couchdbbg"}
      %a{:href =>  "#", :id => "couchdb"}
    %span{:id =>  "redisbg"}
      %a{:href =>  "#", :id => "redis"}
    %span{:id =>  "mongodbbg"}
      %a{:href =>  "#", :id => "mongodb"}
    %span{:id =>  "cassandrabg"}
      %a{:href =>  "#", :id => "cassandra"}
