---
title: ActiveSphere Team
layout: default
permalink: /people.html

people:
- name: Ciju Cherian
  id: ciju
  above: true
  pic: /public/images/people/ciju.jpg
  github: http://github.com/ciju
  twitter: https://twitter.com/ciju
  blurb: >
   Did his masters at IIT Kanpur. Got a taste for startups at
   SlideShare. Since then he has been involved with a few
   startups, and has been attending various technical/startup
   events. He has won two Yahoo! India Hackday events.
   He is interested in education and analytics.

- name: Anantha Kumaran
  id: anantha
  pic: /public/images/people/anantha.jpg
  above: true
  github: https://github.com/ananthakumaran
  blurb: >
    After working with few startups he joined us. Within a month
    he contributed with his DynamoDB emulator. He is an
    active Lisper and Emacs user. He contributed to Emacs community
    with few development tools. He lives only with his books,
    kindle and computers.

- name: Dinesh Gowtham Prathap
  id: dinesh
  pic: /public/images/people/dinesh.jpg
  github: https://github.com/dgp
  twitter: https://twitter.com/dineshgprathap
  blurb: >
    He joined us as a campus recruit from IIIT Bangalore. Since then
    has worked on Android and iOS. Now works on Rails apps. His latest
    craving has become the gym, which he tries to frequent all 5 days
    of the week. Makes a point to catch the latest Tamil movies and is
    working on a movie database app as a hobby. Doesn't mind spending
    some time to teach a noob or two. Is seen with his headset on,
    grooving to his favourite jam at times.

- name: Rohit Shinde
  id: rohit
  pic: /public/images/people/rohit.jpg
  github: https://github.com/shinderohitt
  twitter: https://twitter.com/shinderohitt
  blurb: >
    He enjoys reading about Biology, History, Spirituality, etc,
    and fiction sometimes. Recently he has started exploring functional
    programming and is learning Lisp. He claims to be on a life-long mission
    of fitness and working out on a regular basis, and oftentimes even says "No"
    to a Vada Pav. He also enjoys drawing, says, it teaches a thing
    or two.

- name: Sreenuvas K
  id: sreenu
  pic: /public/images/people/seenu.jpg
  blurb: >
    He's always up and ready to help any of us, be it a squeaky chair or a WiFi problem. Sreenu will fix it up
    in a jiffy. While we're hacking away, he reminds us to fuel up and orders some grub. He's an avid YouTube watcher and is sometimes seen giggling away at some comedy scene he just watched. He makes sure to catch the latest Telugu flick and is a hardcore Cricket fan!


- name: Rahul Jayaraman
  id: rahul
  above: true
  pic: /public/images/people/rahul.jpg
  github: https://github.com/rahuljayaraman
  twitter: http://twitter.com/rahuljayaraman
  blurb: >
    He led a team of developers building mobility applications
    for Banks and NBFCs at Forbes Technosys. He worked on large javascript codebases
    while consulting for an energy management company. Has an interest in
    machine learning and has been building toy deep learning apps using
    tensorflow. He enjoys playing a board game called Go (also known as Igo,
    Weichi or Baduk) at which he represented India at the 4th Korean Prime
    Minister's Cup. Has been known to occasionally do cyling brevets. Enjoys
    running & swimming as well.

---


<div class='page container-fluid'>
    <div class="j_bio bio">
        {% for p in page.people %}
        <div id="{{p.id}}" class="us row {% if p.above %} above {% endif %}">
            <div class="col-md-2">
                <img class="img-circle" alt="{{p.name}}" src="{{p.pic}}"/>
            </div>
            <div class="col-md-10">
                <div class="info">
                    <span class="name">{{p.name}}</span>
                    <div class="link-group">
                        {% if p.github %}
                        <a href="{{p.github}}">
                          <i class="fa fa-github"></i>
                        </a>
                        {% endif %}
                        {% if p.twitter %}
                        <a href="{{p.twitter}}">
                            <i class="fa fa-twitter"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <p class="rant"> {{p.blurb}} </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
