---
title: Some of our customer projects
layout: default
permalink: /portfolio.html
video: true

projects:

 - title: Energy manager for utilities
   stacks:
     - name: AngularJS
       link: https://angularjs.org/
     - name: d3.js
       link: http://d3js.org/
     - name: webpack
       link: https://webpack.github.io/
     - name: node.js
       link: https://nodejs.org/en/
   description: >
      <p>
        <a class="client" href="http://www.enernoc.com" target="_blank">
          <img src="/public/images/clients/enernoc.png"/>
        </a>
        Put yourself in the shoes of a energy manager, who is looking
        over energy consumption of a university. Where is the energy
        consumed? Whats the change in consumption, in comparison to
        last month, or last year? Where are the emissions happening?
        This tool was built to help monitoring energy consumption
        across multiple properties & locations (eg: universities,
        chain of restaurants etc.)
      </p>

      <p>
        We helped PulseEnergy (now acquired by EnerNOC), to build this
        tool. We worked remotely with the a team of Engineers at
        PulseEnergy, for over 2 years. Most of the product was written
        by us.
      </p>

      <p>
        The video below, show some features of the app, allowing
        slicing & dicing of multiple types of data, across multiple
        dimensions.
      </p>
      <p>
        <iframe src="https://drive.google.com/file/d/0B9pPfuZHkt_qTzg1X1lFZWpsMlE/preview?vq=hd720" allowfullscreen></iframe>
      </p>

 - title: Optimize an e-commerce product listing page
   stacks:
     - name: React
       link: https://facebook.github.io/react/
     - name: webpack
       link: https://webpack.github.io/
   description: >
      <p>
        <a class="client" href="http://www.abof.com/men/clothing/jeans" target="_blank">
          <img src="/public/images/clients/abg-abof.png" />
        </a>
        We work with our clients to understand their business and
        concerns. ABOF, wanted a head start in their front-end dev
        stack. We worked on a few important pages of the incoming
        traffic, and replicated the same functionality that the
        existing IBM WebSphere based front-end offered, over the span
        of 3 months.

      </p>

      <p>

        And when we shipped it, it was among the fast loading sites.

      </p>

      <p>
        Our aim, was to give ABOF a head start with the technology, so
        their internal team could pick up and continue the work. We
        worked with their engineers, tech team and product team, to
        figure out what was needed, which parts could be compromised
        for shipping the product faster, and how to achieve the
        desired speeds with existing infrastructure.

      </p>

      <p>
        With the success of the first implementation (The business saw
        a considerable increase in the conversion rate), ABOF asked us
        again, to redo their checkout process. Which, again, we
        delivered in 2 months, within time.

      </p>

      <p>
        Below is the loading times of the listing page of various
        e-commerce sites, when we delivered ABOF's listing page.
      </p>
      <p>
        <iframe src="https://www.youtube.com/embed/kwaVtMW0soo" allowfullscreen></iframe>
      </p>
 - title: Notification system
   stacks:
     - name: Elixir
       link: http://elixir-lang.org
     - name: Redis
       link: https://redis.io
     - name: Exq
       link: https://github.com/akira/exq
   description: >
     <p>
        <a class="client" href="https://midtrans.com" target="_blank">
          <img src="/public/images/clients/midtrans.svg" style="width: 273px" />
        </a>
        Midtrans sends out hundreds of thousands of notifications per
        day. We helped them migrate their notification system to
        Elixir stack to improve the performance and decrease the
        resource consumption. The average latency of a particular set
        of notifications has decreased from <b>2.9s</b> to
        <b>198ms</b>. The memory consumption went down from
        <b>5.3GB</b> to <b>300MB</b> per node, which brought down the
        hardware cost to 1/3. More details of the migration can be
        found <a href="https://engineering.midtrans.com/">here</a>.
        This is probably a good example of how choosing a technology
        that fits the problem domain could improve the system
        considerably.
     </p>

---
{% for proj in page.projects %}
<div class="project-subheading container-fluid">
  <h1>{{proj.title}}</h1>
  <h5>
    {% for stack in proj.stacks %}
    <a href="{{stack.link}}">{{stack.name}}</a>&nbsp;
    {% endfor %}
  </h5>
</div>
<div class='page container-fluid'>
  <div>
      <div class="col-md-12 project">
          <div class="description">
              {{proj.description}}
          </div>
      </div>
  </div>
</div>
{% endfor %}

