---
title: Rewrites
layout: default
permalink: /rewrites.html

projects:

 - title: Notification system
   stacks:
     - name: Elixir
       link: http://elixir-lang.org
     - name: Redis
       link: https://redis.io
     - name: Exq
       link: https://github.com/akira/exq
   client: >
     <a href="https://midtrans.com" target="_blank">
       <img class="pv3" src="/public/images/clients/midtrans.svg" style="width: 273px" />
     </a>
   description: >
     <p>
        Midtrans sends out a few hundred thousand messages per day using a
        notification system. We re-wrote this system in Elixir to improve
        performance and decrease resource consumption. The average latency of a
        particular set of notifications decreased from <b>2.9s</b> to
        <b>198ms</b>. The memory consumption went down from
        <b>5.3GB</b> to <b>300MB</b> per node, which brought down the
        hardware cost to 1/3.
     </p>
     <p>
        This is an example of how choosing a technology that fits the problem
        domain well, could improve a system considerably. More details can be found in
        the <a href="https://engineering.midtrans.com/optimizing-the-notification-system/"
        target="_blank">blog post</a> by Midtrans.
     </p>
 - title: Optimize an e-commerce product listing page
   stacks:
     - name: React
       link: https://facebook.github.io/react/
     - name: webpack
       link: https://webpack.github.io/
   client: >
      <a href="http://www.abof.com/men/clothing/jeans" target="_blank">
        <img class="h3 pb3" src="/public/images/clients/abof.svg" />
      </a>
   demo: >
      <iframe src="https://www.youtube.com/embed/kwaVtMW0soo" allowfullscreen></iframe>

   description: >
      <p>
        ABOF, wanted a head start in their front-end dev
        stack. We worked on a few important pages of the incoming
        traffic, and replicated the same functionality that the
        existing IBM WebSphere based front-end offered, over the span
        of 3 months.

      </p>

      <p>

        And when we shipped it, it was among the fastest loading sites.

      </p>

      <p>
        Our aim, was to give ABOF a head start with the technology, so
        their internal team could pick up and continue the work. We
        worked with their engineers, tech team and product team, to
        figure out what was needed, which parts could be compromised
        for shipping the product faster, and how to achieve the
        desired speeds with existing infrastructure.

      </p>

      <p>
        With the success of the first implementation (The business saw
        a considerable increase in the conversion rate), ABOF asked us
        again, to redo their checkout process. Which, again, we
        delivered in 2 months, within time.

      </p>

      <p>
        Below is the loading times of the listing page of various
        e-commerce sites, when we delivered ABOF's listing page.
      </p>
---

<div class="center pa2 pa4-ns light-blue-gradient">
  <h2 class="white f2 center mw6 tc">
      Rewriting software to improve performance & scalability
  </h2>
</div>
<article class="mw7 center measure-wide avenir f4 lh-copy pa3 pt4">
  <section>
      <p>Rewrites should probably <a
          href="https://www.joelonsoftware.com/2000/04/06/things-you-should-never-do-part-i">be</a>
      <a href="http://www.startersquad.com/blog/the-great-rewrite">avoided</a>
      if possible as they can be risky. They've often been known to harm business instead of helping.</p>

      <p>That being said, one might consider it if it brings value to the
      business.</p>

      <p>While going for a rewrite, one might have to consider many things like</p>

      <ul>
          <li>Is the domain well understood</li>
          <li>Are goals & expectations clear</li>
          <li>Is there a clear understanding of how the old system works,
              including issues/bottlenecks</li>
          <li>Do the new changes impact maintainability?</li>
          <li>How to get the rewrite out to production quickly & safely</li>
      </ul>

      <p>We have some experience rewriting and deploying such software safely.
      In our experience, it usually involves</p>
      <ul>
          <li>Understanding and accommodating for risks, early in the project.</li>
          <li>Breaking down the rewrite into smaller chunks, prioritizing components which help improve the system most while keeping risk at a minimum</li>
          <li>Choosing the right technologies and tools (learn them if
              required). In the past we've picked up Elixir, React, Go,
              Kubernetes, Kafka, Webpack and more to solve specific problems</li>
      </ul>
  </section>
  <section>
      <p>Here are some customers we've done rewrites for</p>
      {% for proj in page.projects %}
      <div class="cf ph3 pt3 pb2 {% unless forloop.first == true %}bt b--light-gray{% endunless %}">
          <div class="fl-ns w-100 w-30-ns">
              <div class="pr3">{{proj.client}}</div>
              <div>
                  <span class="light-silver">Tech: </span>
                  {% for stack in proj.stacks %}
                  <a class="link as-blue dim" href="{{stack.link}}">{{stack.name}}</a>
                  {% unless forloop.last == true %} <span class="light-silver">-</span> {% endunless %}
                  {% endfor %}
              </div>
          </div>
          <div class="avenir measure f5 fl-ns w-100 w-70-ns lh-copy">
              <h1 class="f3 ma0">{{proj.title}}</h1>
              {{proj.description}}
              {{proj.demo}}
          </div>
      </div>
      {% endfor %}
  </section>
</article>
