---
---

$nav-bar-height: 50px;
$darkBlack: rgb(51, 51, 51);
$black: rgb(85, 85, 85);
$grey: rgb(119, 119, 119);
$green: #2bca7f;
$darkGreen: #218a59;

$font-main-copy: 400 16px/1.6em Open Sans,Segoe UI,sans-serif;
$font-header: 'PT Sans', sans-serif;
$font-primary: 400 16px/1.6em helvetica, arial, sans-serif;
$font-secondary: 400 16px/1.6em helvetica, arial, sans-serif;

body {
    font: $font-primary;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    font: $font-primary;
}

h2 {
    font-size: 26px;

    a:hover {
        text-decoration: none;
    }
}

pre {
    border-radius: 0;
}

.navbar-main {
    background: #fff;
    position: relative;
    border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid transparent;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    border-radius: 0;
    margin-bottom: 0;

    a {
        color: rgb(119, 119, 119);
        text-transform: capitalize;
        background: white;
    }

    .container {
        margin-top: -1px;
    }
}

.navbar-main li > a {
    border-top: 4px solid transparent;
    padding: 20px;
    font-size: 16px;
}

.navbar-main li > a.active, .navbar-main li > a:hover {
    border-top: 4px solid $green;
    color: $green;
    background: none;
}

@media(max-width:767px){
    .navbar-main .navbar-collapse li > a.active, .navbar-main .navbar-collapse li > a:hover {
        border-top: 4px solid transparent;
    }
}

.navbar-brand.name {
    font-size: 26px;
    font-weight: 700;
    padding: 20px;
}

.subheading {
    border-bottom: 1px solid #eee;
    padding: 50px 0 50px 0;
    text-align: center;
    background-image: url(/public/images/background.svg), linear-gradient(to bottom, #00ACC1, #03A9F4);
    transition: background-position 2s;
    color: #f5f5f5;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.front-main-copy {
    font: $font-main-copy;
    font-weight: normal;
    font-size: 3.5em;
}

.page .frontpage {
    text-align: justify;
    font-size: 17px;
    color: $grey;
    padding: 40px 10px 20px;
    p {
        margin-bottom: 18px;
    }
}

hr {
    margin-top: 0;
}

a {
    color: $darkGreen;
}

a:hover {
    color: $green;
    text-decoration: underline;
}

@import "blog.scss";

$content-width: 765px;
$footer-height: 40px;

html {
    overflow-y: scroll;
}

.center-text {
    text-align: center;
}

.header .navbar .container {
    max-width: $content-width;
}

.header .navbar-brand {
    font-family: $font-header;
}

.page {
    margin: 0 auto;
    padding: 15px;
    clear:both;
    border: 0;
    max-width: $content-width;
}

.link-group {
    margin-left: 10px;
    display: inline;
    a:hover {
        text-decoration: none;
    }
    i {
        font-size: 20px;
    }
}

.bio {
    margin: 20px 0;
}

.us {
    margin-bottom: 25px;

    img {
        margin-top: 10px;
        height: 95px;
        width: 95px;
        border: 1px solid #ccc;
    }
    > div {
        .info {
            .name {
                color: $black;
                font-size: 20px;
                font-weight: 700;
            }
            margin-bottom: 10px;
        }

        .rant {
            color: $grey;
        }
    }
}

.careers {
    color: $grey;
    h3 {
        color: $black;
        font-size: 20px;
        font-weight: 700;
    }

    p {
        color: #777;
    }
}

.blog-index .row {
    margin-top: 15px;
    .meta {
        color: $grey;
        font-size: 0.8em;
        font-family: $font-secondary;
    }

    a.title {
        font-size: 18px;
        font-weight: 700;

        &:hover {
            color: $green;
        }
    }

    .summary {
        color: $grey;
    }
}

.project {
    h2 {
        font-size: 20px;
        font-weight: 700;
    }
    .description {
        color: $grey;
    }
    .meta {
        .tags {
            color: $darkGreen;
        }
    }
}

.clear {
    clear: both;
}

.client-list > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.client-list img {
    width: 180px;
}

ul.plain-list {
    list-style: none;
}

footer {
    margin-top: 20px;
    background: #fBfBfB;
}
.footer-contact-list {
    border-top: 1px solid #eee;
    text-align: center;
    padding: 20px 10px;
    margin: 0 auto;
    a {
        display: inline-block;
        font-family: $font-secondary;
        font-size: 12px;
        padding: 0 5px;
        color: $grey;
    }

    a:hover {
        color: $green;
        text-decoration: none;
    }

    .copyright {
        font-family: $font-secondary;
        font-size: 12px;
        padding: 10px;
        color: #aaa;
    }
}
