---
---

$nav-bar-height: 50px;
$darkBlack: rgb(51, 51, 51);
$black: rgb(85, 85, 85);
$grey: rgb(119, 119, 119);

$green: #71a0ae;
$darkGreen: #71a0ae; // #218a59;
$blue: #16C9BD;
$yellow: #EBD16A;
$red: #E25132;

$mainLight: #00D2FF;
$main: #2798E3;
$mainDarker: #3A7BD5;
$constrast: #fb5b01;

$font-main-copy:  400 16px/1.6em 'Lato', sans-serif;
$font-header: 400 16px/1.6em 'Lato', sans-serif;
$font-primary: 400 16px/1.6em helvetica, arial, sans-serif;
$font-secondary: 400 16px/1.6em helvetica, arial, sans-serif;

body {
    font: $font-primary;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    font: $font-primary;
}

h2 {
    font-size: 26px;

    a:hover {
        text-decoration: none;
    }
}

.body-wrapper {
    overflow-x: hidden;
}

pre {
    border-radius: 0;
}

.navbar-main {
    background: #fff;
    position: relative;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;

    a {
        color: $green;
        text-transform: capitalize;
        background: white;
    }

    .container {
        margin-top: -1px;
    }
}

.navbar-main li > a {
    border-top: 4px solid transparent;
    padding: 20px;
    font-size: 16px;
}

.navbar-main li > a.active, .navbar-main li > a:hover {
    border-top: 4px solid $main;
    color: $main;
    background: none;
}

@media(max-width:767px){
    .navbar-main .navbar-collapse li > a.active, .navbar-main .navbar-collapse li > a:hover {
        border-top: 4px solid transparent;
    }
}

.navbar-brand.name {
    font-size: 26px;
    font-weight: 700;
    padding: 20px;
}

.subheading-wrapper {
    position: relative;
    margin-bottom: 40px;
}
.subheading {
    padding: 40px 0 30px 0;
    text-align: center;

//    background: $darkGreen url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1NicgaGVpZ2h0PScxMDAnPgogIDxyZWN0ICB3aWR0aD0nNTYnIGhlaWdodD0nMTAwJyBmaWxsPScjMjE4YTU5Jy8+CiAgPHBhdGggZD0nTTI4IDY2TDAgNTBMMCAxNkwyOCAwTDU2IDE2TDU2IDUwTDI4IDY2TDI4IDEwMCcgZmlsbD0nbm9uZScgc3Ryb2tlPScjMmJjYTdmJyBzdHJva2Utd2lkdGg9JzEuNScvPgogIDxwYXRoIGQ9J00yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQnIGZpbGw9J25vbmUnIHN0cm9rZT0nIzJiY2E3Zicgc3Ryb2tlLXdpZHRoPScxJyBzdHJva2Utb3BhY2l0eT0iMC44Ii8+Cjwvc3ZnPgo=");
    background-color: #1671a5;
    background: linear-gradient(135deg, #1671a5 0%,#73c4b7 100%);
    // background-image: url("/public/images/background.svg"),  linear-gradient(to bottom, #43d07c, #4cb589);
    transition: background-position 2s;
    min-height: 200px;
    color: #fff;
    h1 {
        font-size: 2.5em;
    }
}

.subheading::before, .subheading::after {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: $mainLight;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $mainDarker, $mainLight);
    background: linear-gradient(to left, $mainDarker, $mainLight);
    display: block;
    z-index: -1;
    transform: rotate(-2deg) translateX(-25px) scale(1.2);
}

.subheading::after {
    transform: rotate(2deg) translateX(-50px) scale(1.4);
}


.project-subheading {
    border-top: 1px solid #eee;
    padding: 25px 0 20px 0;
    text-align: center;
    min-height: 150px;
    a {
        font-size: 17px;
    }
    h1 {
        font-weight: 700;
        font-size: 44px;
        margin: 9px 0;
    }
}

.header + .project-subheading {
    border-top: 1px solid transparent;
}

.front-main-copy {
    font: $font-main-copy;
    font-size: 1.5em;
    font-weight: 500;
    padding: 0;
}

h5.front-main-copy {
    font-size: 17px;
    text-align: left;
    max-width: 675px;
    text-shadow: none;
}

.page .frontpage {
    text-align: justify;
    font-size: 17px;
    color: $grey;
    padding: 10px 0;
    line-height: 1.6em;
    p {
        margin-bottom: 18px;
    }
}

hr {
    margin-top: 0;
}

a {
    color: $main;
}

a:hover {
    color: $constrast;
    text-decoration: underline;
}

@import "blog.scss";

$content-width: 765px;
$footer-height: 40px;

html {
    overflow-y: scroll;
}

.center-text {
    text-align: center;
}

.header .navbar .container {
    max-width: $content-width;
}

.header .navbar-brand {
    font-family: $font-header;
}

.page {
    margin: 0 auto;
    padding: 15px;
    clear:both;
    border: 0;
    max-width: $content-width;
}

.link-group {
    margin-left: 10px;
    display: inline;
    a:hover {
        text-decoration: none;
    }
    i {
        font-size: 20px;
    }
}

.bio {
    margin: 20px 0;
}

.us {
    margin-bottom: 25px;

    img {
        margin-top: 10px;
        height: 95px;
        width: 95px;
        border: 1px solid #ccc;
    }
    > div {
        .info {
            .name {
                color: $black;
                font-size: 20px;
                font-weight: 700;
            }
            margin-bottom: 10px;
        }

        .rant {
            color: $grey;
        }
    }
}

.careers {
    color: $grey;
    h3 {
        color: $black;
        font-size: 20px;
        font-weight: 700;
    }

    p {
        color: #777;
    }
}

.blog-index .row {
    margin-top: 15px;
    .meta {
        color: $grey;
        font-size: 0.8em;
        font-family: $font-secondary;
    }

    a.title {
        font-size: 18px;
        font-weight: 700;

        &:hover {
            color: $constrast;
        }
    }

    .summary {
        color: $grey;
    }
}

.project {
    h2 {
        font-size: 20px;
        font-weight: 700;
    }
    .description {
        color: $grey;
    }

    iframe {
        border: none;
    }

    a.client {
        float: left;
        margin: 10px;
    }
}

.clear {
    clear: both;
}

.client-list > div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.client-list img {
    width: 180px;
}

ul.plain-list {
    list-style: none;
}

footer {
    margin-top: 20px;
    background: darken($mainDarker, 40%);
    color: darken($mainDarker, 10%);
}
.footer-contact-list {
    text-align: center;
    padding: 20px 10px;
    margin: 0 auto;
    a {
        display: inline-block;
        font-family: $font-secondary;
        font-size: 1em;
        padding: 0 5px;
        color: darken($mainDarker, 10%);
    }

    a:hover {
        color: $mainDarker;
        text-decoration: none;
    }

    .copyright {
        font-family: $font-secondary;
        font-size: 11px;
        padding: 0 0 10px 0;
        clear: both;
    }
}

.footer-contact-detail {
    padding-left: 5px;
}

.footer-contact-options {
    text-align: left;
    line-height: 3rem;
    padding-top: 20px;

    .glyphicon {
        opacity: .5;
    }
}
.contact-details {
    float: left;
}
.footer-geo-location {
    float: right;
}


.footer-logo {
    clear: both;
    padding-top: 50px;
    text-align: center;
    img {
        height: 4rem;
    }
}
