.article {
  padding: var(--space-xl) 0;

  @media (--max-column) {
    padding-top: var(--space-2xl);
  }

  & p + p {
    margin-top: 0;

    text-indent: var(--text-indent);
  }

  & em {
    font-style: normal;
    font-weight: var(--font-weight-bold);
  }

  & p img {
    margin-top: var(--space-m);
    margin-bottom: var(--space-m);
    margin-left: calc(-1 * var(--space-l));
  }

  & .footnotes {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    padding-top: var(--space-m);
    border-top: var(--border);
  }

  & blockquote {
    padding: 0 var(--space-m);
    color: var(--color-gray-60);
    border-left: var(--space-xs) solid var(--color-gray-40);
  }

  & code.highlighter-rouge {
    color: var(--color-gray-70);
  }

  & hr {
    position: relative;
    border: var(--border);
    border-width: var(--border-width) 0 0 0;
    color: var(--color-gray-40);
    margin: var(--space-xl) var(--space-xl)
      calc(var(--space-xl) - var(--space-m));

    @media (--min-column) {
      margin-right: var(--space-2xl);
      margin-left: var(--space-2xl);
    }

    &::after {
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      content: "\00A7"; // §
      display: block;
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-solid);
      padding: 0 var(--space-m);
      background-color: var(--color-white);
    }
  }
}

.article__header {
  padding-bottom: calc(
    var(--space-m) * 2 + var(--space-2xs)
  ); /* Height of the line */

  &::after {
    content: "";
    position: relative;
    top: var(--space-m);
    display: block;
    height: var(--space-2xs);
    width: var(--space-m);
    background-color: var(--color-border);
  }
}

.article__title {
  @media (--max-column) {
    font-size: var(--font-size-3xl);
  }
}

.article__title-link {
  color: var(--color-text-dark);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: var(--color-text-dark);
  }
}

.article__meta {
  margin-top: var(--space-xs);
  color: var(--color-text-light);
  font-size: var(--font-size-s);
}

.article__comments {
  margin-top: 0;
  border-top: var(--border);
}

.article__hero {
  margin-bottom: var(--space-xl);
}

.article__hero + .article__hero {
  margin-top: calc(-1 * var(--space-xl));
}

.article__hero--last {
  margin-bottom: 0;
}

.article--padding-bottom-0 {
  padding-bottom: 0;
}

.article--hero {
  padding-top: 0;
}
