:root {
  font-size: 1.1875rem; /* 19px */
  font-family: "Source Serif Pro", serif;
  line-height: 1.315789474; /* 19px / 25px - 28px */
  font-feature-settings: "onum";

  @media (--min-column) {
    line-height: calc(1.315789474em + ((0.157894737 / 15.4375) * (100vw - 23em)));
  }

  @media (--max-column) {
    line-height: 1.473684211;
  }
}

* {
  margin: 0;
}

* + * {
  margin-top: 1em;
}

body {
  margin-top: 0;
}
