.layout {
  max-width: var(--max-width-canvas);
  margin: 0 auto;
  width: 100%;

  @supports (display: grid) {
    display: grid;
    justify-content: center;
  grid-template-columns: minmax(var(--space-m), 1fr) minmax(auto, var(--max-width-content-column)) minmax(var(--space-m), 2.827fr);
  }

  & > * {
    width: 100%;
    max-width: var(--max-width-content-column);
    margin-left: auto;
    margin-right: auto;

    @supports (display: grid) {
      max-width: none;
      grid-column: 2;
    }
  }
}
