.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--space-m) * 2.5);
  height: calc(var(--space-m) * 2.5);

  & svg {
    fill: currentColor;
    width: 100%;
  }
}
