.pagination {
  display: flex;
  border-top: var(--border);
  margin-top: var(--space-l);
}

.pagination__link {
  position: relative;
  margin-top: 0;
  display: block;
  padding: calc(var(--space-m) * 1.5) var(--space-m) var(--space-s);
  width: 50%;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &::before {
    font-variant: all-small-caps;
    font-size: var(--font-size-s);
    line-height: var(--line-height-solid);
    position: absolute;
    top: var(--space-s);
    left: var(--space-m);
    right: var(--space-m);
    color: var(--color-text-light);
  }
}

.pagination__link--next {
  margin-left: 50%;

  &::before {
    content: 'Next';
  }
}

.pagination__link--previous {
  text-align: right;
  &::before {
    content: 'Previous';
  }
}

.pagination__link--previous + .pagination__link--next {
  border-left: var(--border);
  margin-left: 0;
}
