.person {
  --max-width-person-img: calc(1.5 * var(--space-xl));
  position: relative;
  padding-bottom: var(--space-xl);
}

.person + .person {
  padding-top: var(--space-xl);
  border-top: var(--border);
}

.person__img {
  max-width: var(--max-width-person-img);
  display: block;
  border-radius: 2000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--space-s);
}

.person__name {
  margin-top: 0;
  text-align: center;
}

.person__social-networks {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  color: var(--color-text-light);
  font-variant: all-small-caps;
  margin-top: 0;
  text-align: center;
}

.person__social-network-link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: var(--color-link);
  }
}
