.plug {
  color: var(--color-gray-70);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  text-shadow: var(--text-shadow-light);
  padding: var(--space-l);
  background: var(--color-blue-washed);
  border-radius: var(--border-radius);

  @media (--min-column) {
    padding: var(--space-xl);
  }
}
