.post {
  & p + p {
    margin-top: 0;

    text-indent: var(--space-l);
  }
}

.post__header {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-m);

  &::after {
    content: "";
    display: block;
    height: var(--space-2xs);
    width: var(--space-m);
    background-color: var(--color-border);
  }
}

.post__title {
  @media (--max-column) {
    font-size: var(--font-size-3xl);
  }
}

.post__title-link {
  color: var(--color-text);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: var(--color-text);
  }
}

.post__meta {
  margin-top: var(--space-xs);
  color: var(--color-text-light);
  font-size: var(--font-size-s);
  padding-bottom: var(--space-m);
}
