.post-summary {
  padding-bottom: var(--space-xl);
  position: relative;
}

.post-summary + .post-summary {
  border-top: var(--border);
  padding-top: var(--space-xl);
}

.post-summary__title {
  font-weight: var(--font-weight-regular);
}

.post-summary__link {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.post-summary__excerpt {
  margin-top: 0;
}

.post-summary__meta {
  color: var(--color-text-light);
  font-size: var(--font-size-s);
  margin-top: var(--space-xs);
}
