.site-footer {
  background-color: var(--color-gray-90);
  color: var(--color-gray-40);
  margin-top: 0;
}

.site-footer__wrapper {
  padding: var(--space-m) 0;

  @supports(display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr)); /* 19px * 11 */
    margin-left: calc(-1 * var(--space-m));
    margin-right: calc(-1 * var(--space-m));
  }
}

.site-footer__card {
  padding: var(--space-m);
  margin-top: 0;
}

.site-footer__nav-link {
  display: block;
}

.site-footer__nav-link + .site-footer__nav-link {
  margin-top: 0;
}

.site-footer__card--license,
.site-footer__card--contact {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.site-footer__card--license {
  grid-column: 1 / -1;
  color: var(--color-text-light);
}
