@custom-media --min-column (min-width: 27.3125em); /* 23em @ 19px */
@custom-media --max-column (min-width: 42.75em); /* 36em @ 19px */

:root {
  --font-family: "Source Serif Pro", serif;
  --font-family-mono: "Source Code Pro", serif;

  --font-weight-bold: 700;

  --font-size-s: 0.707213579em;
  --font-size-m: 1em;
  --font-size-l: 1.191em;
  --font-size-xl: 1.414em;
  --font-size-xxl: 1.684em;
  --font-size-xxxl: 1.999em;

  --line-height-tight: 1.1em;
}
