<span class="contact-details">
  <a href="mailto:contact@activesphere.com">
    <span class="glyphicon glyphicon-earphone"></span>
    <span class="detail">+91 8095221530</span>
  </a>
  <a href="tel:+918095221530">
    <span class="glyphicon glyphicon-envelope"></span>
    <span class="detail">contact@activesphere.com</span>
  </a>
  <a href="https://goo.gl/maps/5bKOM">
    <span class="glyphicon glyphicon-map-marker"></span>
    <span class="detail">1096, 12th A main, Indiranagar</span>
  </a>
</span>
