<div class="footer-contact-options clearfix">
    <div class="contact-details">
        <div>
            <a href="tel:+919980955066">
                <span class="glyphicon glyphicon-earphone"></span>
                <span class="footer-contact-detail">+91 8095221530</span>
            </a>
        </div>
        <div>
            <a href="mailto:contact@activesphere.com">
                <span class="glyphicon glyphicon-envelope"></span>
                <span class="footer-contact-detail">contact@activesphere.com</span>
            </a>
        </div>
    </div>

    <div class="footer-geo-location">
        <a href="https://goo.gl/maps/KEytEg7VH8k">
            <div>
                <span class="glyphicon glyphicon-map-marker"></span>
                <span class="footer-contact-detail">1st Floor, 1216/17, 11th Cross,</span>
            </div>
            <div>
                <span
                  class="glyphicon glyphicon-map-marker"
                  style="visibility:hidden"
                ></span>
                <span class="footer-contact-detail"> 24th Main, HSR Sector 1, Bangalore</span>
            </div>
        </a>
    </div>
</div>
