<div class="cf pa3 flex flex-wrap justify-between items-center">
  <div class="w-100 w-50-ns">
    <div class="flex items-center dim pv2 pv0-ns">
      <i class="material-icons as-blue ph1">phone</i>
      <a class="as-blue link db" href="tel:+919980955066">
        +91 8095221530
      </a>
    </div>
    <div class="flex items-center dim pv2 pv0-ns">
      <i class="material-icons as-blue ph1 f5">email</i>
      <a class="as-blue link db" href="mailto:contact@activesphere.com">
        contact@activesphere.com
      </a>
    </div>
  </div>

  <div class="w-100 w-50-ns flex items-center dim justify-end-ns pv2">
    <i class="material-icons as-blue ph1 f5">gps_fixed</i>
    <a class="as-blue link" href="https://goo.gl/maps/KEytEg7VH8k">
      <div>
        1st Floor, 1216/17, 11th Cross,
      </div>
      <div>
        24th Main, HSR Sector 1, Bangalore
      </div>
    </a>
  </div>
</div>
