<meta charset="utf-8">
<meta content='NodeJS AngularJS D3 Ruby Rails Web Development Bangalore India' name='title'>

<meta content='index, follow' name='robots'>
<meta content='initial-scale=1.0,width=device-width' name='viewport'>
<meta name='google' value='notranslate'>
<link href='/rss.xml' rel='alternate' title='ActiveSphere Blog' type='application/rss+xml'>

<link href='/assets/normalize-reset.css' media='screen' rel='stylesheet' type='text/css'>
<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' media='screen' rel='stylesheet' type='text/css'>
<link href='/assets/master.css' media='screen' rel='stylesheet' type='text/css'>
<link href='/assets/common.css' media='screen' rel='stylesheet' type='text/css'>
<link href='/assets/blog.css' media='screen' rel='stylesheet' type='text/css'>
<link href='/assets/syntax.css' media='screen' rel='stylesheet' type='text/css'>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>


<title>
  ActiveSphere: - technology services for startups, big and small.
</title>

{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta content='NodeJS AngularJS D3 Ruby Rails application developers.' name='description'>
{% endif %}

<title>{{ page.title }} :: {{ site.title }}</title>

{% if page.categories %}
<meta name="keywords" content="{{ page.categories | join: ',' }}"/>
{% else %}
<meta content='Ruby Rails Web Development RoR RubyOnRails Ruby on Rails Nodejs Node.js angularjs d3 Bangalore India offshore application development scaling appdev bigdata' name='keywords'>
{% endif %}
