<div class="pb3 shadow-2 fixed" id="header">
  <nav class="cf pt3 mw7 center flex flex-wrap items-center">
    <div class="fl w-100 w-third-ns pl4-ns pa2 pa0-ns tc tl-ns">
      <a class="dib" href="/">
        <section id="container" class="container">
          <div id="particles" width="80" height="80"></div>
          <img src="/public/images/people/texture.png" style="display: none;" 
            alt="Image not found" id="img-person" />
        </section>
      </a>

      <span id="logo"> </span>
    </div>

    <!-- Active link is highlighted via javascript. See setActiveNav
    in application.js -->
    <div class="fl w-100 w-two-thirds-ns pt2 pr4-ns pt0-ns tc tr-ns">
      <a class="pa2 link dim as-blue ttc" href="/">home</a>
      <a class="pa2 link dim as-blue ttc" href="/hacks.html">hacks</a>
      <a class="pa2 link dim as-blue ttc" href="/portfolio.html">portfolio</a>
      <a class="pa2 link dim as-blue ttc" href="/people.html">people</a>
      <a class="pa2 link dim as-blue ttc" href="/careers.html">careers</a>
      <a class="pa2 link dim as-blue ttc" href="/blog.html">blog</a>
    </div>
  </nav>
</div>
