<header class="bg-white black-80 tc avenir dark-blue-gradient">
    <div class="dn db-ns pv4">
        <div class="tc ">
            <a class="navbar-brand name" href='/'>
                <img class="w5" alt="ActiveSphere" src="/public/images/logo_text.svg" />
            </a>
        </div>

        <h2 class="mt2 mb0 f6 fw4 ttu tracked">
            Helping businesses ship complex web-apps
        </h2>
    </div>

    <nav class="bt tc ttc mw7 center black">
        <a
          class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l light-gray"
          href='/portfolio.html'>portfolio</a>
        <a
          class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l light-gray"
          href='/people.html'>people</a>

        <a
          class="link bg-animate black-80 dn-ns"
          href='/'
        >
        <svg
          class="v-mid"
          xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:svg="http://www.w3.org/2000/svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 360 360.004"
          height="32"
          width="32"
          xml:space="preserve"
          id="svg2"
          version="1.1">
            <defs id="defs6">
                <clipPath id="clipPath18" clipPathUnits="userSpaceOnUse">
                    <path id="path16" d="M 0,270.003 H 270 V 0 H 0 Z" />
                </clipPath>
            </defs>
            <g transform="matrix(1.3333333,0,0,-1.3333333,0,360.004)" id="g10">
                <g id="g12">
                    <g clip-path="url(#clipPath18)" id="g14">
                        <g transform="translate(131.4502,110.2021)" id="g20">
                            <path id="path22" style="fill:#666666;fill-opacity:1;fill-rule:evenodd;stroke:none" d="m 0,0 -61.7,-35.8 24.8,57.25 z M 8.899,99.45 67.35,-35.8 -35.8,24.15 -3.25,99.45 c 2.033,2 4.05,2.834 6.05,2.5 2.033,0.367 4.066,-0.467 6.099,-2.5" />
                        </g>
                        <g transform="translate(210.0996,211.2021)" id="g24">
                            <path id="path26" style="fill:none;stroke:#666666;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3;stroke-dasharray:none;stroke-opacity:1" d="m 0,0 c 20.9,-20.9 31.351,-46.1 31.351,-75.6 0,-29.533 -10.451,-54.75 -31.351,-75.65 -20.899,-20.899 -46.116,-31.35 -75.649,-31.35 -29.5,0 -54.701,10.451 -75.601,31.35 -20.899,20.9 -31.35,46.117 -31.35,75.65 0,29.5 10.451,54.7 31.35,75.6 20.9,20.9 46.101,31.35 75.601,31.35 C -46.116,31.35 -20.899,20.9 0,0 Z" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>

        <!-- <img alt="ActiveSphere" class="w2" src="/public/images/logo.svg" /> -->
        </a>
        <a
          class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l light-gray"
          href='/careers.html'>careers</a>
        <a
          class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l light-gray"
          href='/blog.html'>blog</a>
    </nav>
    <!-- <div
         class="contain"
         style="background-image: url('/public/images/background.svg'), linear-gradient(to bottom, #43d07c, #4cb589)"
         >
         </div> -->
</div>
