<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {% if page.title == nil %}
        {{ site.title }}
    {% else %}
        {{ page.title }} :: {{ site.title }}
    {% endif %}
</title>
<meta content='NodeJS AngularJS D3 Ruby Rails Web Development Bangalore India' name='title'>

<meta content='index, follow' name='robots'>
<meta name='google' content='notranslate'>

{% feed_meta %}

{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta content="ReactJS Elixir D3 NodeJS AngularJS Ruby Rails web application developers." name='description'>
{% endif %}

{% if page.canonical %}
<link rel="canonical" href="{{page.canonical}}">
{% endif %}

<link rel="stylesheet" href="//unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
<link href='//fonts.googleapis.com/css?family=Lato:300,400'
      rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<link href="/public/css/style.css" media="screen" rel="stylesheet" type="text/css">
<link href="/public/css/syntax.css" media="screen" rel="stylesheet" type="text/css">

{% if page.math %}
  <script src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
{% endif %}

{% if page.viz %}
  <script src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
{% endif %}

<script>
  function domReady(fn) {
    if (
      document.attachEvent
        ? document.readyState === 'complete'
        : document.readyState !== 'loading'
    ) {
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  }
</script>

{% if page.video %}
  <script src="/public/js/vendor/reframe.min.js"></script>
  <script>
    domReady(function () {
    reframe('iframe');
    });
  </script>
{% endif %}


{% if page.categories %}
<meta name="keywords" content="{{ page.categories | join: ',' }}"/>
{% else %}
<meta content="Web Development Elixir JavaScript ES6 React RoR RubyOnRails Ruby on Rails Nodejs Node.js angularjs d3 Bangalore India offshore application development scaling appdev" name="keywords">
{% endif %}
