<div class="shadow-2">
  <nav class="ph4 mw7 center flex-ns justify-between items-center">
    <div class="tc">
      <a class="dib v-mid" href="/">
        <img class="db" alt="ActiveSphere" src="/public/images/logo_text.svg" />
      </a>
    </div>

    <!-- Active link is highlighted via javascript. See setActiveNav
    in application.js -->
    <div class="pa2 pa0-ns tc">
      <a class="pa2 pv4-ns link dim as-blue ttc" href="/">home</a>
      <a class="pa2 pv4-ns link dim as-blue ttc" href="/hacks.html">hacks</a>
      <a class="pa2 pv4-ns link dim as-blue ttc" href="/portfolio.html">portfolio</a>
      <a class="pa2 pv4-ns link dim as-blue ttc" href="/people.html">people</a>
      <a class="pa2 pv4-ns link dim as-blue ttc" href="/careers.html">careers</a>
      <a class="pa2 pv4-ns link dim as-blue ttc" href="/blog.html">blog</a>
    </div>
  </nav>
</div>
