<div class='nav'>
  <span class='navlinks'>
    <a href='http://activesphere.com/'>home</a>
  </span>
  <span class='navlinks'>
    <a href='http://activesphere.com/hacks.html'>hacks</a>
  </span>
  <span class='navlinks'>
    <a href='http://activesphere.com/contact.html'>contact</a>
  </span>
  <span class='navlinks'>
    <a href='http://activesphere.com/about.html'>about</a>
  </span>
  <span class='navlinks'>
    <a href='http://activesphere.com/careers.html'>careers</a>
  </span>
  <span class='navlinks'>
    <a href="/">blog</a>
  </span>
</div>
