<div class="nav">
  <span class="navlinks">
    <a href="http://activesphere.com/">home</a>
  </span>
  <span class="navlinks">
    <a href="http://activesphere.com/our_hacks">hacks</a>
  </span>
  <span class="navlinks">
    <a href="http://activesphere.com/contact">contact</a>
  </span>
  <span class="navlinks">
    <a href="http://activesphere.com/about_us">about</a>
  </span>
  <span class="navlinks">
    <a href="http://activesphere.com/careers">careers</a>
  </span>
  <span class="navlinks">
    <a href="/">blog</a>
  </span>
</div>
