$textGray: #8e8e8e;

.header-fonts {
   /* font-family: Georgia, Arial, sans-serif; */
   /* font-weight: normal; */
}


.post {
    margin-top: 20px;
    .meta {
        margin: 0 0 20px 0;
        border-bottom: 1px solid #ddd;
        .author {
            color: $grey;
        }
    }
    .categories {
        padding: 0 20px 20px 40px;
        float: left;
        ul {
            list-style-type: none;
        }
    }
}

.post-content {
    h2 {
        font-size: 18px;
        font-weight: 700;
    }

    p {
        color: #666;
    }
}

.pad {
    padding: 15px;
}

.pad-width-extra {
    margin: 15px;
    padding: 0 30px;
}

.contact-info {
    h2 {
        @extend .pad-width-extra;
        text-align: left;
    }
}


.page-nav {
    padding: 20px;
    a {
        padding: 5px;
    }
}

a[rel="footnote"], a[rev="footnote"] {
    vertical-align: super;
    text-decoration: none;
}
a[rev="footnote"] {
    display:block;
    text-align:right;
    margin-top:-3em;
    border-bottom: 0px;
}
.footnotes {
    font-size:0.8em;
}

/* gist styling  */
.post .gist {
    font-size: .8em;
    .gist-file {
        border: 1px #ebe9e7 solid;
        /* .gist-meta { */
        /*     background-color: #f8f5f0; */
        /* } */
        .gist-data {
            /* background-color: #ECE9D0; */
            /* border-bottom: 1px #ebe9e7 solid; */
            .line-numbers {
                display: none;
            }
        }
    }
}
