/*

Ratio: 1.414
Base Font Size: 19px
Measure:
  Minimum: 437px, 23em @ 19px
  Maximum: 684px, 36em @ 19px
Base spacing unit: 16px

https://www.modularscale.com/?19,16&px&1.414
*/

/* 23em @ 19px */

/* 36em @ 19px */

:root {
  --font-family: "Source Serif Pro", serif;
  --font-family-mono: "Source Code Pro", serif;

  --font-weight-regular: 400;
  --font-weight-medium: 600; /* Only for mono */
  --font-weight-bold: 700;

  --font-size-xs: 0.707em;
  --font-size-s: 0.842em;
  --font-size-m: 1em;
  --font-size-l: 1.191em;
  --font-size-xl: 1.414em;
  --font-size-2xl: 1.684em;
  --font-size-3xl: 1.999em;
  --font-size-4xl: 2.381em;
  --font-size-5xl: 2.827em;
  --font-size-6xl: 3.366em;

  --font-size-codeblock: calc(var(--font-size-m) - 0.0884818377rem); /* font-size-m - 19/1.414^7 */

  --line-height-tight: 1.1em;
  --line-height-s: 1.375em;
  --line-height-l: 1.237113584em;
  --line-height-xl: 1.33994871em;
  --line-height-solid: 1;
  --line-height-codeblock: 1.0393329792em;

  --space-2xs: 2px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;
  --space-2xl: 128px;
  --space-3xl: 256px;

  --max-width-content-column: 36rem;
  --max-width-canvas: 90rem; /* ~19px * 1.414^13 */

  --color-white: #ffffff;
  --color-gray-00: #f8f9fa;
  --color-gray-10: #f1f3f5;
  --color-gray-20: #e9ecef;
  --color-gray-30: #dee2e6;
  --color-gray-40: #ced4da;
  --color-gray-50: #adb5bd;
  --color-gray-60: #868e96;
  --color-gray-70: #495057;
  --color-gray-80: #343a40;
  --color-gray-90: #212529;
  --color-black: #000000;
  --color-red: #F46359;
  --color-blue: #67A7E3;
  --color-green: #62C056;
  --color-yellow: #EACD3C;
  --color-red-dark: #B83127;
  --color-blue-dark: #3071B2;
  --color-green-dark: #4B8C41;
  --color-yellow-dark: #B69C17;
  --color-red-light: #F8AEA9;
  --color-blue-light: #A0C7EE;
  --color-green-light: #96DA8A;
  --color-yellow-light: #F7E078;
  --color-red-washed: #FEEEEE;
  --color-blue-washed: #ECF4FA;
  --color-green-washed: #E8F6E5;
  --color-yellow-washed: #FCF7DE;

  --color-text: var(--color-gray-80);
  --color-text-dark: var(--color-gray-90);
  --color-text-light: var(--color-gray-60);
  --color-link: var(--color-blue);
  --color-link-hover: var(--color-blue-dark);
  --color-border: var(--color-gray-20);

  --opacity-100: 1;
  --opacity-80: 0.8;
  --opacity-60: 0.6;
  --opacity-50: 0.5;
  --opacity-25: 0.25;
  --opacity-10: 0.1;
  --opacity-05: 0.05;
  --opacity-025: 0.025;
  --opacity-0: 0;

  --border-radius: 0.157894737rem; /* 3 / 19px */
  --border-radius-l: 0.368421053rem; /* 7 / 19px */
  --border-width: 1px;
  --border: var(--border-width) solid var(--color-border);

  --delay-very-fast: .1s;
  --delay-fast: .2s;
  --delay-medium: .3s;
  --delay-slow: .4s;
  --delay-very-slow: .5s;

  --easing: ease-out;

  --text-shadow-dark: 0 1px 0 rgba(27, 31, 35, 0.15);
  --text-shadow-light: 0 1px 0 rgba(255, 255, 255, 0.5);

  --text-indent: var(--space-l);
}

/* Base */

:root {
  font-size: 1.1875rem; /* 19px */
  font-family: "Source Serif Pro", serif;
  line-height: 1.315789474; /* 19px / 25px - 28px */
  -webkit-font-feature-settings: "onum";
          font-feature-settings: "onum";
  font-variant-numeric: oldstyle-nums;
  color: #343a40;
  color: var(--color-text);
  box-sizing: border-box
}

@media (min-width: 27.3125em) {

:root {
    line-height: calc(1.315789474em + ((0.157894737 / 15.4375) * (100vw - 23em)))
}
  }

@media (min-width: 42.75em) {

:root {
    line-height: 1.473684211
}
  }

* {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* + * {
  margin-top: 1em;
}

body {
  margin-top: 0;
}

code, tag, byte, term, escape {
  color: #868e96;
  color: var(--color-text-light);
  font-family: "Source Code Pro", serif;
  font-family: var(--font-family-mono);
  font-size: 0.842em;
  font-size: var(--font-size-s);
  -webkit-font-feature-settings: "lnum";
          font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}

pre code {
  background-color: transparent;
}

strong code,
strong pre {
  font-weight: 600;
  font-weight: var(--font-weight-medium);
}

h1,
h2,
h3 {
  font-weight: 700;
  font-weight: var(--font-weight-bold);
}

h1,
h2 {
  line-height: 1.1em;
  line-height: var(--line-height-tight);
}

h1 {
  font-size: 1.684em;
  font-size: var(--font-size-2xl);
}

h2 {
  font-size: 1.191em;
  font-size: var(--font-size-l);
}

h3 {
  font-size: 1em;
  font-size: var(--font-size-m);
}

ol,
ul {
  padding-left: 0;
  list-style-position: inside;
}

li p {
    display: inline;
  }

li + li {
  margin-top: 8px;
  margin-top: var(--space-s);
}

img,
svg {
  max-width: 100%;
}

br {
  /* On FF, it takes in margin from "* + *" */
  margin-top: 0;
}

.link,
a {
  color: #67A7E3;
  color: var(--color-link);
  transition: color .2s ease-out;
  transition: color var(--delay-fast) var(--easing)
}

.link:hover,
  .link:active,
  .link:focus,
  a:hover,
  a:active,
  a:focus {
    color: #3071B2;
    color: var(--color-link-hover);
  }

.link--light {
  color: inherit
}

.link--light:hover,
  .link--light:active,
  .link--light:focus {
    color: #67A7E3;
    color: var(--color-link);
  }

/* Components */

.highlighter-rouge {
  background-color: #f8f9fa;
  background-color: var(--color-gray-00);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: var(--text-shadow-light);
  overflow-y: auto;
  max-width: 100%;
  padding: 16px;
  padding: var(--space-m);
  border-radius: 0.157894737rem;
  border-radius: var(--border-radius)
}

@media (min-width: 42.75em) {

.highlighter-rouge {
    margin-left: calc(-1 * 16px);
    margin-left: calc(-1 * var(--space-m));
    margin-right: calc(-1 * 16px);
    margin-right: calc(-1 * var(--space-m))
}
  }

code.highlighter-rouge {
  padding: 0 4px;
  padding: 0 var(--space-xs)
}

@media (min-width: 42.75em) {

code.highlighter-rouge {
    margin-left: 0;
    margin-right: 0
}
  }

pre.highlight {
  white-space: pre-wrap;
  font-size: calc(1em - 0.0884818377rem);
  font-size: var(--font-size-codeblock);
  line-height: 1.0393329792em;
  line-height: var(--line-height-codeblock);
}

.highlight .c { color: #999988; font-style: italic }

/* Comment */

.highlight .err { color: #a61717; background-color: #e3d2d2 }

/* Error */

.highlight .k { font-weight: 600; font-weight: var(--font-weight-medium) }

/* Keyword */

.highlight .o { font-weight: 600; font-weight: var(--font-weight-medium) }

/* Operator */

.highlight .cm { color: #999988; font-style: italic }

/* Comment.Multiline */

.highlight .cp { color: #999999; font-weight: 600; font-weight: var(--font-weight-medium) }

/* Comment.Preproc */

.highlight .c1 { color: #999988; font-style: italic }

/* Comment.Single */

.highlight .cs { color: #999999; font-weight: 600; font-weight: var(--font-weight-medium); font-style: italic }

/* Comment.Special */

.highlight .gd { color: #000000; background-color: #ffdddd }

/* Generic.Deleted */

.highlight .gd .x { color: #000000; background-color: #ffaaaa }

/* Generic.Deleted.Specific */

.highlight .ge { font-style: italic }

/* Generic.Emph */

.highlight .gr { color: #aa0000 }

/* Generic.Error */

.highlight .gh { color: #999999 }

/* Generic.Heading */

.highlight .gi { color: #000000; background-color: #ddffdd }

/* Generic.Inserted */

.highlight .gi .x { color: #000000; background-color: #aaffaa }

/* Generic.Inserted.Specific */

.highlight .go { color: #888888 }

/* Generic.Output */

.highlight .gp { color: #555555 }

/* Generic.Prompt */

.highlight .gs { font-weight: 600; font-weight: var(--font-weight-medium) }

/* Generic.Strong */

.highlight .gu { color: #aaaaaa }

/* Generic.Subheading */

.highlight .gt { color: #aa0000 }

/* Generic.Traceback */

.highlight .kc { font-weight: 600; font-weight: var(--font-weight-medium) }

/* Keyword.Constant */

.highlight .kd { font-weight: 600; font-weight: var(--font-weight-medium) }

/* Keyword.Declaration */

.highlight .kp { font-weight: 600; font-weight: var(--font-weight-medium) }

/* Keyword.Pseudo */

.highlight .kr { font-weight: 600; font-weight: var(--font-weight-medium) }

/* Keyword.Reserved */

.highlight .kt { color: #445588; font-weight: 600; font-weight: var(--font-weight-medium) }

/* Keyword.Type */

.highlight .m { color: #009999 }

/* Literal.Number */

.highlight .s { color: #d14 }

/* Literal.String */

.highlight .na { color: #008080 }

/* Name.Attribute */

.highlight .nb { color: #0086B3 }

/* Name.Builtin */

.highlight .nc { color: #445588; font-weight: 600; font-weight: var(--font-weight-medium) }

/* Name.Class */

.highlight .no { color: #008080 }

/* Name.Constant */

.highlight .ni { color: #800080 }

/* Name.Entity */

.highlight .ne { color: #990000; font-weight: 600; font-weight: var(--font-weight-medium) }

/* Name.Exception */

.highlight .nf { color: #990000; font-weight: 600; font-weight: var(--font-weight-medium) }

/* Name.Function */

.highlight .nn { color: #555555 }

/* Name.Namespace */

.highlight .nt { color: #000080 }

/* Name.Tag */

.highlight .nv { color: #008080 }

/* Name.Variable */

.highlight .ow { font-weight: 600; font-weight: var(--font-weight-medium) }

/* Operator.Word */

.highlight .w { color: #bbbbbb }

/* Text.Whitespace */

.highlight .mf { color: #009999 }

/* Literal.Number.Float */

.highlight .mh { color: #009999 }

/* Literal.Number.Hex */

.highlight .mi { color: #009999 }

/* Literal.Number.Integer */

.highlight .mo { color: #009999 }

/* Literal.Number.Oct */

.highlight .sb { color: #d14 }

/* Literal.String.Backtick */

.highlight .sc { color: #d14 }

/* Literal.String.Char */

.highlight .sd { color: #d14 }

/* Literal.String.Doc */

.highlight .s2 { color: #d14 }

/* Literal.String.Double */

.highlight .se { color: #d14 }

/* Literal.String.Escape */

.highlight .sh { color: #d14 }

/* Literal.String.Heredoc */

.highlight .si { color: #d14 }

/* Literal.String.Interpol */

.highlight .sx { color: #d14 }

/* Literal.String.Other */

.highlight .sr { color: #009926 }

/* Literal.String.Regex */

.highlight .s1 { color: #d14 }

/* Literal.String.Single */

.highlight .ss { color: #990073 }

/* Literal.String.Symbol */

.highlight .bp { color: #999999 }

/* Name.Builtin.Pseudo */

.highlight .vc { color: #008080 }

/* Name.Variable.Class */

.highlight .vg { color: #008080 }

/* Name.Variable.Global */

.highlight .vi { color: #008080 }

/* Name.Variable.Instance */

.highlight .il { color: #009999 }

/* Literal.Number.Integer.Long */

.layout {
  max-width: 90rem;
  max-width: var(--max-width-canvas);
  margin: 0 auto;
  width: 100%
}

@supports (display: grid) {

.layout {
    display: grid;
    justify-content: center;
  grid-template-columns: minmax(16px, 1fr) minmax(auto, 36rem) minmax(16px, 2.827fr);
  grid-template-columns: minmax(var(--space-m), 1fr) minmax(auto, var(--max-width-content-column)) minmax(var(--space-m), 2.827fr)
}
  }

.layout > * {
    width: 100%;
    max-width: 36rem;
    max-width: var(--max-width-content-column);
    margin-left: auto;
    margin-right: auto
  }

@supports (display: grid) {

.layout > * {
      max-width: none;
      grid-column: 2
  }
    }

.list {
  padding-left: 0;

  list-style-position: inside;
}

.list--inline {
  list-style: none
}

.list--inline > li {
    display: inline;
  }

.list--inline > li + li {
    margin-left: 16px;
    margin-left: var(--space-m);
  }

.list--middot-seperated > li + li {
    margin-left: 8px;
    margin-left: var(--space-s);
  }

.list--middot-seperated > li + li::before {
    content: '\B7';
    margin-right: 8px;
    margin-right: var(--space-s);
  }

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(16px * 2);
  width: calc(var(--space-m) * 2);
  height: calc(16px * 2);
  height: calc(var(--space-m) * 2)
}

.logo svg {
    fill: currentColor;
    width: 100%;
  }

.pagination {
  display: flex;
  border-top: 1px solid #e9ecef;
  border-top: var(--border);
  margin-top: 32px;
  margin-top: var(--space-l);
}

.pagination__link {
  position: relative;
  margin-top: 0;
  display: block;
  padding: calc(16px * 1.5) 16px 8px;
  padding: calc(var(--space-m) * 1.5) var(--space-m) var(--space-s);
  width: 50%;
  text-decoration: none
}

.pagination__link:hover,
  .pagination__link:focus,
  .pagination__link:active {
    text-decoration: underline;
  }

.pagination__link::before {
    -webkit-font-feature-settings: "smcp", "c2sc";
            font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    font-size: 0.842em;
    font-size: var(--font-size-s);
    line-height: 1;
    line-height: var(--line-height-solid);
    position: absolute;
    top: 8px;
    top: var(--space-s);
    left: 16px;
    left: var(--space-m);
    right: 16px;
    right: var(--space-m);
    color: #868e96;
    color: var(--color-text-light);
  }

.pagination__link--next {
  margin-left: 50%
}

.pagination__link--next::before {
    content: 'Next';
  }

.pagination__link--previous {
  text-align: right
}

.pagination__link--previous::before {
    content: 'Previous';
  }

.pagination__link--previous + .pagination__link--next {
  border-left: 1px solid #e9ecef;
  border-left: var(--border);
  margin-left: 0;
}

.article {
  padding: 64px 0;
  padding: var(--space-xl) 0
}

@media (min-width: 42.75em) {

.article {
    padding-top: 128px;
    padding-top: var(--space-2xl)
}
  }

.article p + p {
    margin-top: 0;

    text-indent: 32px;

    text-indent: var(--text-indent);
  }

.article em {
    font-style: normal;
    font-weight: 700;
    font-weight: var(--font-weight-bold);
  }

.article p img {
    margin-top: 16px;
    margin-top: var(--space-m);
    margin-bottom: 16px;
    margin-bottom: var(--space-m);
    margin-left: calc(-1 * 32px);
    margin-left: calc(-1 * var(--space-l));
  }

.article .footnotes {
    font-size: 0.842em;
    font-size: var(--font-size-s);
    line-height: 1.375em;
    line-height: var(--line-height-s);
    padding-top: 16px;
    padding-top: var(--space-m);
    border-top: 1px solid #e9ecef;
    border-top: var(--border);
  }

.article hr {
    position: relative;
    border: 1px solid #e9ecef;
    border: var(--border);
    border-width: 1px 0 0 0;
    border-width: var(--border-width) 0 0 0;
    color: #ced4da;
    color: var(--color-gray-40);
    margin: 64px 64px calc(64px - 16px);
    margin: var(--space-xl) var(--space-xl) calc(var(--space-xl) - var(--space-m))
  }

@media (min-width: 27.3125em) {

.article hr {
      margin-right: 128px;
      margin-right: var(--space-2xl);
      margin-left: 128px;
      margin-left: var(--space-2xl)
  }
    }

.article hr::after {
      position: absolute;
      left: 50%;
      -webkit-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0);
      content: '\A7'; // §
      display: block;
      font-size: 1.414em;
      font-size: var(--font-size-xl);
      font-weight: 700;
      font-weight: var(--font-weight-bold);
      line-height: 1;
      line-height: var(--line-height-solid);
      padding: 0 16px;
      padding: 0 var(--space-m);
      background-color: #ffffff;
      background-color: var(--color-white);
    }

.article__header {
  padding-bottom: calc(16px * 2 + 2px);
  padding-bottom: calc(var(--space-m) * 2 + var(--space-2xs)) /* Height of the line */
}

.article__header::after {
    content: "";
    position: relative;
    top: 16px;
    top: var(--space-m);
    display: block;
    height: 2px;
    height: var(--space-2xs);
    width: 16px;
    width: var(--space-m);
    background-color: #e9ecef;
    background-color: var(--color-border);
  }

@media (min-width: 42.75em) {

.article__title {
    font-size: 1.999em;
    font-size: var(--font-size-3xl)
}
  }

.article__title-link {
  color: #212529;
  color: var(--color-text-dark);
  text-decoration: none
}

.article__title-link:hover,
  .article__title-link:focus,
  .article__title-link:active {
    text-decoration: underline;
    color: #212529;
    color: var(--color-text-dark);
  }

.article__meta {
  margin-top: 4px;
  margin-top: var(--space-xs);
  color: #868e96;
  color: var(--color-text-light);
  font-size: 0.842em;
  font-size: var(--font-size-s);
}

.article__comments {
  margin-top: 0;
  border-top: 1px solid #e9ecef;
  border-top: var(--border);
}

.article__hero {
  margin-bottom: 64px;
  margin-bottom: var(--space-xl);
}

.article__hero + .article__hero {
  margin-top: calc(-1 * 64px);
  margin-top: calc(-1 * var(--space-xl));
}

.article__hero--last {
  margin-bottom: 0;
}

.article--padding-bottom-0 {
  padding-bottom: 0;
}

.article--hero {
  padding-top: 0;
}

.site-header {
  max-width: 90rem;
  max-width: var(--max-width-canvas);
  margin: 0 auto;
  line-height: 1.1em;
  line-height: var(--line-height-tight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
  padding: var(--space-m)
}

@media (min-width: 42.75em) {

.site-header {
    padding-left: 32px;
    padding-left: var(--space-l);
    padding-right: 32px;
    padding-right: var(--space-l)
}
  }

.site-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
  margin-right: var(--space-l);
  padding: 16px 0;
  padding: var(--space-m) 0;
  color: #212529;
  color: var(--color-text-dark);
  text-decoration: none
}

.site-header__logo:hover,
  .site-header__logo:active,
  .site-header__logo:focus {
    color: #F46359;
    color: var(--color-red);
  }

.site-header__logo-title {
  margin-left: 8px;
  margin-left: var(--space-s);
  margin-top: 0;
  font-weight: 700;
  font-weight: var(--font-weight-bold);
  font-size: 1.191em;
  font-size: var(--font-size-l);

  display: none
}

@media(min-width: 30em) {

.site-header__logo-title {
    display: inline
}
  }

.site-header__nav {
  display: flex;
  margin-top: 0;
}

.site-header__link {
  margin-top: 0;
  color: #868e96;
  color: var(--color-text-light);
  text-decoration: none;
  padding: 8px 0;
  padding: var(--space-s) 0
}

.site-header__link:hover,
  .site-header__link:active,
  .site-header__link:focus {
    color: #67A7E3;
    color: var(--color-link);
  }

.site-header__link + .site-header__link {
  margin-left: 32px;
  margin-left: var(--space-l);
}

.site-header__link--active {
  color: #000000;
  color: var(--color-black);
}

.site-footer {
  background-color: #212529;
  background-color: var(--color-gray-90);
  color: #ced4da;
  color: var(--color-gray-40);
  margin-top: 0;
}

.site-footer__wrapper {
  padding: 16px 0;
  padding: var(--space-m) 0
}

@supports(display: grid) {

.site-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); /* 19px * 11 */
    margin-left: calc(-1 * 16px);
    margin-left: calc(-1 * var(--space-m));
    margin-right: calc(-1 * 16px);
    margin-right: calc(-1 * var(--space-m))
}
  }

.site-footer__card {
  padding: 16px;
  padding: var(--space-m);
  margin-top: 0;
}

.site-footer__nav-link {
  display: block;
}

.site-footer__nav-link + .site-footer__nav-link {
  margin-top: 0;
}

.site-footer__card--license,
.site-footer__card--contact {
  font-size: 0.842em;
  font-size: var(--font-size-s);
  line-height: 1.375em;
  line-height: var(--line-height-s);
}

.site-footer__card--license {
  grid-column: 1 / -1;
  color: #868e96;
  color: var(--color-text-light);
}

.index {
  display: block;
  list-style: none;
  padding-left: 0;
  padding-top: 64px;
  padding-top: var(--space-xl)
}

@media (min-width: 42.75em) {

.index {
    padding-top: 128px;
    padding-top: var(--space-2xl)
}
  }

.post-summary {
  padding-bottom: 64px;
  padding-bottom: var(--space-xl);
  position: relative;
}

.post-summary + .post-summary {
  border-top: 1px solid #e9ecef;
  border-top: var(--border);
  padding-top: 64px;
  padding-top: var(--space-xl);
}

.post-summary__title {
  /* font-weight: var(--font-weight-regular); */
  font-size: 1.191em;
  font-size: var(--font-size-l);
}

.post-summary__link {
  text-decoration: none
}

.post-summary__link:hover,
  .post-summary__link:focus,
  .post-summary__link:active {
    text-decoration: underline;
  }

.post-summary__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.post-summary__excerpt {
  margin-top: 0;
}

.post-summary__meta {
  color: #868e96;
  color: var(--color-text-light);
  font-size: 0.842em;
  font-size: var(--font-size-s);
  margin-top: 4px;
  margin-top: var(--space-xs);
}

.person {
  --max-width-person-img: calc(1.5 * var(--space-xl));
  position: relative;
  padding-bottom: 64px;
  padding-bottom: var(--space-xl);
}

.person + .person {
  padding-top: 64px;
  padding-top: var(--space-xl);
  border-top: 1px solid #e9ecef;
  border-top: var(--border);
}

.person__img {
  max-width: var(--max-width-person-img);
  display: block;
  border-radius: 2000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-bottom: var(--space-s);
}

.person__name {
  margin-top: 0;
  text-align: center;
}

.person__social-networks {
  font-size: 0.842em;
  font-size: var(--font-size-s);
  line-height: 1.375em;
  line-height: var(--line-height-s);
  color: #868e96;
  color: var(--color-text-light);
  -webkit-font-feature-settings: "smcp", "c2sc";
          font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  margin-top: 0;
  text-align: center;
}

.person__social-network-link {
  color: inherit;
  text-decoration: none
}

.person__social-network-link:hover,
  .person__social-network-link:active,
  .person__social-network-link:focus {
    text-decoration: underline;
    color: #67A7E3;
    color: var(--color-link);
  }

.project {
  display: block;
  position: relative;
  padding-bottom: 64px;
  padding-bottom: var(--space-xl)
}

.project p {
    display: block;
  }

.project p + p {
    margin-top: 0;
    text-indent: 32px;
    text-indent: var(--text-indent);
  }

.project + .project {
  padding-top: 64px;
  padding-top: var(--space-xl);
  border-top: 1px solid #e9ecef;
  border-top: var(--border);
}

.project__client-logo-link {
  display: block;
  max-width: 128px;
  max-width: var(--space-2xl);

  margin-left: auto;
  margin-right: auto
}

@media(min-width: 44em) {

.project__client-logo-link {
    margin-left: 0;
    position: absolute;
    left: 0;
    right: 0
}
  }

.project__client-logo-img {
  display: block;
}

.project__title {
  font-size: 1.191em;
  font-size: var(--font-size-l);
  text-align: center
}

@media(min-width: 44em) {

.project__title {
    margin-top: 0;
    text-align: left
}
  }

.project__link {
  text-decoration: none
}

.project__link:hover,
  .project__link:focus,
  .project__link:active {
    text-decoration: underline;
  }

@media(min-width: 44em) {

.project__blurb {
    margin-top: 0
}
  }

.project__stack {
  color: #868e96;
  color: var(--color-text-light);
}

@media(min-width: 44em) {

.project--client {
    padding-left: calc(128px + 64px);
    padding-left: calc(var(--space-2xl) + var(--space-xl))
}
  }

.project--client .project__title {
    font-size: 1em;
    font-size: var(--font-size-m);
  }

.client-logos {
  padding: 64px 0;
  padding: var(--space-xl) 0;
}

.client-logos__title {
  color: #868e96;
  color: var(--color-text-light);
  text-align: center
}

@supports(display: grid) {

.client-logos__title {
    text-align: left
}
  }

.client-logos__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-top: var(--space-l)
}

@supports(display: grid) {

.client-logos__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr)); /* 19 * 8 = 152 */
    align-items: center;
    margin-left: calc(-1 * 16px);
    margin-left: calc(-1 * var(--space-m));
    margin-right: calc(-1 * 16px);
    margin-right: calc(-1 * var(--space-m))
}
  }

.client-logos__list-i {
  list-style: none;
  margin-top: 0;
}

.client-logos__link {
  display: block;
  padding: 8px 16px;
  padding: var(--space-s) var(--space-m);
  text-decoration: none;
  text-align: center;
}

.logo-list__logo {
  display: inline-block;
  max-width: 128px;
  max-width: var(--space-2xl);
  max-height: 64px;
  max-height: var(--space-xl)
}

@supports(display: grid) {

.logo-list__logo {
    max-width: 100%
}
  }

.client-logos--border-top {
  border-top: 1px solid #e9ecef;
  border-top: var(--border);
}

.hero {
  background-color: #67A7E3;
  background-color: var(--color-blue);
  color: #ffffff;
  color: var(--color-white);
  font-size: 1.414em;
  font-size: var(--font-size-xl);
  line-height: 1.33994871em;
  line-height: var(--line-height-xl);
  min-height: 50vh;
  margin-top: 0;
  max-width: 100%
}

@supports(display: grid) {

.hero {
    grid-column: 1 / -1
}
  }

@media (min-width: 36rem) {

.hero {
    min-height: 66vh
}
  }

@media (min-height: 50rem) {

.hero {
    min-height: 0
}
  }

.hero a:hover,
  .hero a:focus,
  .hero a:active {
    color: #3071B2;
    color: var(--color-link-hover);
  }

.hero__wrapper {
  padding: 64px 0;
  padding: var(--space-xl) 0
}

@media (min-width: 36rem) {

.hero__wrapper {
    padding-top: 128px;
    padding-top: var(--space-2xl);
    padding-bottom: 128px;
    padding-bottom: var(--space-2xl)
}
  }

.hero__wrapper > * + * {
    margin-top: 32px;
    margin-top: var(--space-l);
  }

.hero__title {
  font-size: 1.414em;
  font-size: var(--font-size-xl)
}

@media (min-width: 36rem) {

.hero__title {
    font-size: 1.999em;
    font-size: var(--font-size-3xl)
}
  }

.hero__sub-title {
  font-size: 1em;
  font-size: var(--font-size-m)
}

@media (min-width: 36rem) {

.hero__sub-title {
    font-size: 1.191em;
    font-size: var(--font-size-l)
}
  }

.hero--s {
  min-height: 0
}

.hero--s .hero__title {
    font-size: 1.191em;
    font-size: var(--font-size-l)
  }

@media (min-width: 36rem) {

.hero--s .hero__title {
      font-size: 1.414em;
      font-size: var(--font-size-xl)
  }
    }

.hero--green {
  background-color: #62C056;
  background-color: var(--color-green);
}

.hero--red {
  background-color: #F46359;
  background-color: var(--color-red);
}

.hero--yellow {
  background-color: #EACD3C;
  background-color: var(--color-yellow);
  color: #000000;
  color: var(--color-black);
}

.hero--grey {
  background-color: #f1f3f5;
  background-color: var(--color-gray-10);
  color: #000000;
  color: var(--color-black);
}

