#kickbuttmessage{style: "padding-left:0px"}
  %h1{style:"font-size:70px"} About Us
  %p{id: "subhead"}


  

.cols.cols2.bio
  .col
    %div.us
      %img{src: "/assets/people/sreeix_pic.jpg"}  
      %h2{class: "aboutpage"} 
        %div Sreekanth Vadagiri 
        %a{href: "http://twitter.com/#!/sreeix", class: "twitterlink"} @sreeix

    %div.us
      %img{src: "/assets/people/niket.jpg"}
      %h2{class: "aboutpage"} 
        %div Niket Kumar 
        %a{href: "http://twitter.com/#!/niket_kumar", class: "twitterlink"} @niket_kumar

    %div.us
      %img{src: "/assets/people/sreehari_pic.jpg"}
      %h2{class: "aboutpage"} 
        %div SreeHari 
        %a{href: "http://twitter.com/#!/sree0514", class: "twitterlink"} @sree0514

    %div.us
      %img{src: "/assets/people/pavan_pic.jpg"}
      %h2{class: "aboutpage"} 
        %div Pavana Teja
        %a{href: "https://twitter.com/#!/pavana21", class: "twitterlink"} @pavana21

    %div.us
      %img{src: "/assets/people/anantha_pic.jpg"}
      %h2{class: "aboutpage"} 
        %div AnanthaKumaran
        %a{href: "https://twitter.com/#!/ananthakumaran", class: "twitterlink"} @ananthakumaran


  .col
    -# %p.about-us-text
    -#   Some of us have been doing software for 14years. Some, just joined this game. Some are solving scaling problems. Some are involved with algorithms that drives product. Some use Emacs, some Vi, and some others Texmate. Some cycle the hell out of themselves. Some just sit on the bean bag, getting some extra fat. We love this diversity.
      
    %div.us
      %img{src: "/assets/people/nikhil_pic.jpg"}
      %h2{class: "aboutpage"}
        %div Nikhil Fernandes
        %a{href: "http://twitter.com/#!/nikhilfernandes", class: "twitterlink"} @nikhilfernandes


    %div.us
      %img{src: "/assets/people/ciju_pic.jpg"}
      %h2{class: "aboutpage"}
        %div Ciju
        %a{href: "http://twitter.com/#!/ciju", class: "twitterlink"} @ciju

    %div.us
      %img{src: "/assets/people/dinesh_pic.jpg"}
      %h2{class: "aboutpage"}
        %div Dinesh 
        %a{href: " https://twitter.com/#!/dineshgprathap", class: "twitterlink"} @dineshgprathap

    %div.us
      %img{src: "/assets/people/jai_pic.jpg"}
      %h2{class: "aboutpage"}
        %div Jai Keerthi
        %a{href: " https://twitter.com/#!/kjaikeerthi", class: "twitterlink"} @kjaikeerthi

    %div.us
      %img{src: "/assets/people/person.jpeg"}
      %h2{class: "aboutpage"} 
        %div Sreenuvas K
          
    