#kickbuttmessage{style: "padding-left:0px"}
  %h1{style:"font-size:70px"} About Smart People
  %p{id: "subhead"}

.cols.cols2
  .col.photoframeleft.fright
    %p
      %img{src: "/assets/gabbar.jpg", width: "313", height: "273"}  
  .col.bioright.fleft
    %h2{class: "aboutpage"} 
      %span Sreekanth Vadagiri /
      %a{href: "http://twitter.com/#!/sreeix", class:"twitterlink"} @sreeix
    %p   There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
    
  .empty.lowresborder
  
  .col.bioleft.fright
    %h2{class: "aboutpage"}
      %span Nikhil Fernandes /
      %a{href: "http://twitter.com/#!/nikhilfernandes", class:"twitterlink"} @nikhilfernandes
    %p There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
    
  .col.photoframeleft.fleft
    %p
      %img{src: "/assets/nikhil.jpg", width: "313", height: "273"}	 
    
  .empty.lowresborder
      
  
  .cols.cols2
    .col.photoframeleft.fright
      %p
        %img{src: "/assets/niket.jpg", width: "313", height: "273"}  
    .col.bioright.fleft
      %h2{class: "aboutpage"} 
        %span Niket Kumar /
        %a{href: "http://twitter.com/#!/niket_kumar", class:"twitterlink"} @niket_kumar
      %p   There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
  
    .empty.lowresborder