#kickbuttmessage{style: "padding-left:0px"}
  %h1{style:"font-size:70px"} About Smart People
  %p{id: "subhead"}

.cols.cols2
  .col.photoframeleft.fright
    %p
      %img{src: "/assets/sreeix_pic.jpg", width: "250", height: "250"}  
  .col.bioright.fleft
    %h2{class: "aboutpage"} 
      %span Sreekanth Vadagiri /
      %a{href: "http://twitter.com/#!/sreeix", class:"twitterlink"} @sreeix
    %p   There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
    
  .empty.lowresborder
  
  .col.bioleft.fright
    %h2{class: "aboutpage"}
      %span Nikhil Fernandes /
      %a{href: "http://twitter.com/#!/nikhilfernandes", class:"twitterlink"} @nikhilfernandes
    %p There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
    
  .col.photoframeleft.fleft
    %p
      %img{src: "/assets/nikhil_pic.jpg", width: "250", height: "250"}	 
    
  .empty.lowresborder
      
  
  .cols.cols2
    .col.photoframeleft.fright
      %p
        %img{src: "/assets/niket.jpg", width: "250", height: "250"}  
    .col.bioright.fleft
      %h2{class: "aboutpage"} 
        %span Niket Kumar /
        %a{href: "http://twitter.com/#!/niket_kumar", class:"twitterlink"} @niket_kumar
      %p   There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
  
    .empty.lowresborder
    

  .col.bioleft.fright
    %h2{class: "aboutpage"}
      %span Ciju/
      %a{href: "http://twitter.com/#!/ciju", class:"twitterlink"} @ciju
    %p There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life

  .col.photoframeleft.fleft
    %p
      %img{src: "/assets/ciju_pic.jpg", width: "250", height: "250"}	 

  .empty.lowresborder
  
  .cols.cols2
    .col.photoframeleft.fright
      %p
        %img{src: "/assets/sreehari_pic.jpg", width: "250", height: "250"}  
    .col.bioright.fleft
      %h2{class: "aboutpage"} 
        %span SreeHari /
        %a{href: "http://twitter.com/#!/sree0514", class:"twitterlink"} @sree
      %p   There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
  
    .empty.lowresborder
    
  .col.bioleft.fright
    %h2{class: "aboutpage"}
      %span Dinesh /
      %a{href: " https://twitter.com/#!/dineshgprathap", class:"twitterlink"} @dinesh
    %p There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life

  .col.photoframeleft.fleft
    %p
      %img{src: "/assets/dinesh_pic.jpg", width: "250", height: "250"}	 

  .empty.lowresborder
  
  .cols.cols2
    .col.photoframeleft.fright
      %p
        %img{src: "/assets/pavan_pic.jpg", width: "250", height: "250"}  
    .col.bioright.fleft
      %h2{class: "aboutpage"} 
        %span Pavana Teja /
        %a{href: "https://twitter.com/#!/pavana21", class:"twitterlink"} @pavana
      %p   There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
  
    .empty.lowresborder
    
  
  .col.bioleft.fright
    %h2{class: "aboutpage"}
      %span Jai Keerthi /
      %a{href: " https://twitter.com/#!/kjaikeerthi", class:"twitterlink"} @jai
    %p There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life

  .col.photoframeleft.fleft
    %p
      %img{src: "/assets/jai_pic.jpg", width: "250", height: "250"}	 

  .empty.lowresborder
  
  .cols.cols2
    .col.photoframeleft.fright
      %p
        %img{src: "/assets/anantha_pic.jpg", width: "250", height: "250"}  
    .col.bioright.fleft
      %h2{class: "aboutpage"} 
        %span AnanthaKumaran /
        %a{href: "https://twitter.com/#!/ananthakumaran", class:"twitterlink"} @anantha
      %p   There must be more to life than this. How do we cope in a world without love Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive Why should it be just a case of black or white/There must be more to life than this/ Why is this world so full of hate/ People dying everywhere/ And we destroy what we create/ People fighting for their human rights/ But we just go on saying c'est la vie/ So this is life
  
    .empty.lowresborder
