.span-24.content
  .profiles
    %h2 The Team
    %br/
    .span-7.profile
      %h3 Suresh Harikrishnan
      %p
        Suresh has been building large scale applications in a variety of technologies for nearly a decade now. He is the in-house Mr. Curmudgeon when it comes to the usability of modern day applications. When not working, he likes organizing meetups with fellow hackers.
    .span-7.profile
      %h3 Nilakanta Mallick
      %p
        Nila brings a decade of experience in building complicated enterprise applications in a wide variety of technologies. He is known to have an uncanny ability in becoming the domain expert in every domain he works in. He is a humorist by hobby, specializing in cracking jokes which takes Google to understand.
    .span-7.last.profile
      %h3 Sreekanth Vadagiri
      %p
        Sreekanth has been working as a Software Developer for over a decade now. He loves tinkering with new technologies specially in the areas of Cloud computing, NoSQL implementations. He is a cyclist and loves touring different countries.
    .span-8.blank_profile
      %a
    .span-7.last.profile
      %h3
        %a{:href => "/careers/"} You
      %p
        Yup, we are
        = succeed "." do
          %a{:href => "/careers/"} hiring
        If you love to code, and/or be
        = succeed "," do
          %a{:href => "http://www.paulgraham.com/relres.html"} relentlessly resourceful
        we'd like to hear from you.
