<div id="kickbuttmessage">
			<h1>About Smart People</h1>
			<p id="subhead"></p>
		</div> <!-- End kickbuttmessage   -->

        <div class="cols cols2"> <!--  Going with 2 columns hence class cols2  -->

        <!-- First bio -->
			<div class="col photoframeleft fright" >
				<p>
				<img src="images/team/f2-gray.jpg" alt="name that goes with the face" /></p>
			</div>
            <div class="col bioright fleft">
                <h2 class="aboutpage">Nikhil Fernandes / <a href="#" class="twitterlink">@activesphere</a></h2>
                <p>There must be more to life than this. How do we cope in a world without love
					Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive
					Why should it be just a case of black or white/
					There must be more to life than this/
					Why is this world so full of hate/
					People dying everywhere/
					And we destroy what we create/
					People fighting for their human rights/
					But we just go on saying c'est la vie/
					So this is life
				</p>
            </div>
			<!-- End first bio -->

			 <div class="empty lowresborder"></div>

			<!-- 2nd bio -->
			 <div class="col bioleft fright">
               <h2 class="aboutpage">Jay Freeman / <a href="#" class="twitterlink">@saurik</a></h2>
                <p>There must be more to life than this. How do we cope in a world without love
					Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive
					Why should it be just a case of black or white/
					There must be more to life than this/
					Why is this world so full of hate/
					People dying everywhere/
					And we destroy what we create/
					People fighting for their human rights/
					But we just go on saying c'est la vie/
					So this is life
				</p>
            </div>

			 <div class="col photoframeleft fleft ">
				<p><img src="images/team/f1.jpg" alt="name that goes with the face" /></p>
			 </div>
			<!-- End 2nd bio -->

			<div class="empty lowresborder"></div>

			<!-- 3rd bio -->
			<div class="col photoframeleft">
				<p><img src="images/team/f2-gray.jpg" alt="name that goes with the face" /></p>
			</div>
            <div class="col bioright">
                <h2 class="aboutpage">Siddharth Sharma / <a href="#" class="twitterlink">@sidd82</a></h2>
                <p>There must be more to life than this. How do we cope in a world without love
					Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive
					Why should it be just a case of black or white/
					There must be more to life than this/
					Why is this world so full of hate/
					People dying everywhere/
					And we destroy what we create/
					People fighting for their human rights/
					But we just go on saying c'est la vie/
					So this is life
				</p>
            </div>
			<!-- End 3rd bio -->

			 <div class="empty lowresborder"></div>

			<!-- 4th bio -->
			 <div class="col bioleft">
               <h2 class="aboutpage">Rad Jr. Wiley / <a href="#" class="twitterlink">@rjiley</a></h2>
                <p>There must be more to life than this. How do we cope in a world without love
					Mending all those broken hearts /And tending to those crying faces/ There must be more to life than living/ A better way for us to survive
					Why should it be just a case of black or white/
					There must be more to life than this/
					Why is this world so full of hate/
					People dying everywhere/
					And we destroy what we create/
					People fighting for their human rights/
					But we just go on saying c'est la vie/
					So this is life
				</p>
            </div>

			 <div class="col photoframeleft">
				<p><img src="images/team/f1.jpg" alt="name that goes with the face" /></p>
			 </div>
			<!-- End 4th bio -->
			
			<div class="empty"></div> <!-- Clear floats   -->

		</div>
