.span-24.content
  .span-24.job
    %h3 developer
    .job_description
      %ul
        %li Do you love writing code?
        %li Do you want to be at a job where learning is an ongoing process (New technologies, new ways of doing things, products and more, we do mean it)
        %li Like solving interesting problems?
        %li Don't mind "risking" being one of the first few employees of a really small startup with BIG dreams
      Then, we'd like to hear from you.
      %br/
      %br/
      %strong Work involves
      %br/
      %br/
      %ul
        %li Writing a lot of meaningful code, currently it is mostly Ruby, but we generally pick a language/technology that best suits the problem and/or customer needs.
        %li A bit of both consulting opportunities as well as in-house product development.
      %p
        If you are recently(0-2years) out of college, and can demonstrate your coding skills in any language of your choice, send us an email at
        %strong jobs@activesphere.com
  %p
    Do get in
    %a{:href => "mailto:jobs@activesphere.com"} touch
    with us, even if you don't fall in this category, but would still like to explore working with us.
