-# %h1{style: 'text-align:left;padding-top:30px;padding-left: 20px'}
-#   %a{href: about_us_path, class: "hover1 hover2"} our
-#   %span.hover2 raison d'être.

-# %h1{style: "text-align:left;"}
-#   %span{class: 'hover2'} every
-#   %a{href: "#", class: "hover1 hover2"} app
-#   %span{class: 'hover2'} we craft

-# %h1{style: "text-align:left;padding-left: 35px"}
-#   %span{class: 'hover2'} should 
-#   %a{href: "#", class: 'hover1 hover2'}  kickbutt.


%h1.ctoa
  %div.aleft
    %div
      We care about

  %span.rbrace
    {
  %div.aright
    %div
      our Craft.
    %div.and
      &amp;
    %div
      your App.

  %div.clear

  %h2.frontpage
    We specialize in developing user centric Web applications. Our
    iterative design and development model combined with high customer
    collaboration ensures that you get the highest return on
    investment. We believe that thought, the right tools and good
    development practices are the key to solving complex problems.

  -# .col
  -#   %h2 There is a strong reason
  -#   %p We take your ideas and craft them into reality. Building kickass applications is our passion. We consider writing code an art and we try to make it as beautiful as possible. 
    
    
  -# .col
  -#   %h2 That you should
  -#   %p We constantly learn. Even after a decade in this industry we know that every day we have to catchup with many brilliant devs out there.
    
  -# .col
  -#   %h2 Work with us
  -#   %p We deliver!!! Writing software is our passion. People using these applications is our reward. We dont stop at that. We understand that the real challenge is in dealing with a slashdotted application. We up for this, We have done this before.
    
  
.cols.cols3.clients
  %h2 Clients
  %div 
    %div{id: "altheabg"}
      %a{href: "http://www.altheasystems.com", id:"althea"}
    %div{id: "mphoriabg"}
      %a{href: "http://www.mphoria.com/", id:"mphoria"}
    %div{id: "impactbg"}
      %a{href: "https://www.impactdialing.com", id:"impact"}
    %div{id: "brandscopebg"}
      %a{href: "http://brandscope.com.au/", id:"brandscope"}
  
  


.cols.cols3{style: "padding-bottom: 36px"}
  %h2 Technologies
  .col{style: "width:440px; padding-right: 20px; border-right: 1px solid rgba(0, 0, 0, 0.15)"}
  
    %p What's new and what's the best technology for your application, we have dabbled with a few and have expertise in many. 
  #tech.col{style: "width:440px;"}        
    %span{id: "rubybg"}
      %a{href: "#", id:"ruby"}
    %span{id: "couchdbbg"}
      %a{href: "#", id:"couchdb"}
    %span{id: "redisbg"}
      %a{href: "#", id:"redis"}
    %span{id: "mongodbbg"}
      %a{href: "#", id:"mongodb"}
    %span{id: "cassandrabg"}
      %a{href: "#", id:"cassandra"}
    %span{id: "nodejsbg"}
      %a{href: "#", id:"nodejs"}
    %span{id: "railsbg"}
      %a{href: "#", id:"rails"}
