.span-24.content
  .span-13
    %br/
    %br/
    %h2
      We specialize in the
      %strong design
      and
      %strong implementation
      of big ideas and
      %strong help
      people develop theirs.
    %p
      We are a team of experts. ActiveSphere was created with the idea that if you get enough smart people in a room anything is possible. We have years of experience in developing stunning Web, Desktop and Mobile applications.
  .span-10.last.work-example{:style => "display:none"}
    .work-example-title
      %a{:href => "/works/"}
        %img{:src => "/assets/work_peek.png"}/
      %center YourHires is an open source system we built in our spare time to help small organizations manage their recruitment needs.
  .span-10.last.work-example
    .work-example-title
      %a{:href => "/works/"}
        %img{:src => "/assets/work_peek.png"}/
      %center
        New York Times - "An easy and cheap way to keep in email contact."
        %br/
        TIME - "Gotta-have gadget."
.span-24.content.services
  %h2
    Services we offer ...
  %br/
  .span-24
    .span-10.prepend-2.application-development
      %h3
        Application Development
      %p
        We specialize in developing user centric Web and Desktop applications. Our highly iterative design and development model combined with high customer collaboration ensures that you get the highest return on investment. We believe that thought, the right tools and good development practices are the key to solving complex problems.
    .span-10.prepend-2.last.mobile-application-development
      %h3
        Mobile Application Development
      %p
        Be it a mobile extension of your service or a standalone application, its becoming increasingly important for companies to have a mobile presence. We have been writing applications for the iPhone and Android platform, and would love to hear your idea.
  .span-24
    %br/
    %br/
  .span-24
    .span-10.prepend-2.consulting
      %h3
        Consulting
      %p
        Our highly experienced team can review your current site or codebase and provide detailed recommendations on code quality and user experience. We can review your software development processes and make suggestions. We also offer short-term consulting for existing projects in distress.
    .span-10.last.prepend-2.training
      %h3
        Training
      %p
        We have compiled lessons from our experiences in a series of workshops. All workshops are highly interactive, with hands on sessions. Currently, we are conducting two workshops:   Test Driven Development + Advanced OOP + Design Patterns and Advanced Ruby On Rails.
        %a{:href => "/contact/"} Contact us
        for more details.
