#kickbuttmessage
  
  %h1{style: 'font-size:70px;text-align:left;padding-top:30px;'}
    %a{href: about_us_path, class: "hover1 hover2"} Our
    %span.hover2 truth be told.
  
  %h1{style: "font-size:70px;text-align:left;"}
    %span{class: 'hover2'} Every
    %a{href: "#", class: "hover1 hover2"} app
    %span{class: 'hover2'} we craft
    
  %h1{style: "font-size:70px;text-align:left;padding-left: 25px"}
    %span{class: 'hover2'} should 
    %a{href: "#", class: 'hover1 hover2'}  kickbutt.

  
    
    
.cols.cols3
  .col
    %h2 There is a strong reason
    %p We take your ideas and craft them into reality. Building kickass applications is our passion. We consider writing code an art and we try to make it as beautiful as possible. 
    
    
  .col
    %h2 That you should
    %p We constantly learning. Even after a decade in this industry we know that every day we have to catchup with many brilliant devs out there.
    
  .col
    %h2 Work with us
    %p We deliver!!! Writing software is our passion. People using these applications is our reward. We dont stop at that. We understand that the real challenge is in dealing with a slashdotted application. We up for this, We have done this before.
    
  
.cols.cols3{style: "padding-bottom: 36px"}
  %h2 Clients
  .col{style: "width:440px; padding-right: 20px; border-right: 1px solid rgba(0, 0, 0, 0.15)"}


.cols.cols3{style: "padding-bottom: 36px"}
  %h2 Technologies
  .col{style: "width:440px; padding-right: 20px; border-right: 1px solid rgba(0, 0, 0, 0.15)"}
  
    %p Whats new, what the best technology for you application. We have dabbled with a few and have expertise in many. 
  #tech.col{style: "width:440px;"}        
    %span{id: "rubybg"}
      %a{href: "#", id:"ruby"}
    %span{id: "couchdbbg"}
      %a{href: "#", id:"couchdb"}
    %span{id: "redisbg"}
      %a{href: "#", id:"redis"}
    %span{id: "mongodbbg"}
      %a{href: "#", id:"mongodb"}
    %span{id: "cassandrabg"}
      %a{href: "#", id:"cassandra"}
    %span{id: "nodejsbg"}
      %a{href: "#", id:"nodejs"}
    %span{id: "railsbg"}
      %a{href: "#", id:"rails"}
