.text {
  text-align: justify;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: normal;
  word-wrap: break-word;
  font-family: Georgia, Times, "Times New Roman";
}
.header-fonts {
  font-family: Georgia, Arial, sans-serif;
  font-weight: normal;
}
.post {
  padding: 0 40px;
  color: #413F3F;
}
.post h2 {
  margin: 0;
  padding: 8px;
}
.post h3 {
  margin: 0;
  text-align: center;
}
.post .meta {
  width: 600px;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted #c6c6c6;
  padding-bottom: 10px;
}
.post .post-content {
  width: 600px;
  float: left;
}
.post .post-content img {
  max-width: 600px;
}
.post .categories {
  padding: 0 20px 20px 40px;
  float: left;
}
.post .categories ul {
  list-style-type: none;
}
.post p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: normal;
  word-wrap: break-word;
  font-family: Georgia, Times, "Times New Roman";
}
.post a {
  color: #444;
  border-bottom: 1px dashed #C5C4C4;
}
.pad {
  padding: 15px;
}
.pad-width-extra {
  margin: 15px;
  padding: 0 30px;
}
.contact-info h2 {
  margin: 15px;
  padding: 0 30px;
  text-align: left;
}
.archive {
  list-style-type: none;
  font-family: Georgia, Arial, sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: normal;
  word-wrap: break-word;
  font-family: Georgia, Times, "Times New Roman";
}
.archive .meta {
  color: #8e8e8e;
  font-size: 0.8em;
}
.archive li {
  padding: 20px;
  clear: both;
  border: 1px solid #fff;
  max-width: 700px;
}
.archive li:hover {
  background-color: #F1F1F1;
  border: 1px solid #E5E5E5;
}
.archive .title {
  font-size: 22px;
  font-weight: bold;
}
.page-nav {
  padding: 20px;
}
.page-nav a {
  padding: 5px;
  background-color: #e2e2e2;
}
a[rel="footnote"],
a[rev="footnote"] {
  vertical-align: super;
  text-decoration: none;
}
a[rev="footnote"] {
  display: block;
  text-align: right;
  margin-top: -3em;
  border-bottom: 0px;
}
.footnotes {
  font-size: 0.8em;
}
/* gist styling  */
.post .gist {
  font-size: .8em;
}
.post .gist .gist-file {
  border: 1px #ebe9e7 solid;
}
.post .gist .gist-file .gist-meta {
  background-color: #f8f5f0;
}
.post .gist .gist-file .gist-data {
  background-color: #ECE9D0;
  border-bottom: 1px #ebe9e7 solid;
}
.post .gist .gist-file .gist-data .line-numbers {
  display: none;
}
