/* Technologies*/
.technologies {
    padding-right:20px;
}

span#rubybg {
    background-image:url("/assets/ruby-color.png");
    height:30px;
    width:30px;
    float:left;
    margin-right:23px;
}

#ruby {
    background-image:url("/assets/ruby.png");
    height:30px;
    width:30px;
    margin-right:23px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#ruby:hover {
    /*background-image:url("../images/tech/color/rubyXx50.png");*/
    height:30px;
    margin-right:23px;
    opacity:0;

}

span#couchdbbg {
    background-image:url("/assets/couchdb-color.png");
    height:30px;
    width:36px;
    float:left;
    margin-right:23px;
}

#couchdb {
    background-image:url("/assets/couchdb.png");
    height:30px;
    width:36px;
    margin-right:23px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#couchdb:hover {
    /*background-image:url("../images/tech/color/couchdb-logoXx50.png");*/
    height:30px;
    margin-right:23px;
    opacity:0;
}

span#redisbg{
    background-image:url("/assets/redis-color.png");
    height:30px;
    width:94px;
    margin-right:20px;
    float:left;
}

#redis{
    background-image:url("/assets/redis.png");
    height:30px;
    width:94px;
    margin-right:20px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}


#redis:hover {
    /*background-image:url("../images/tech/color/redis-Xx50.png");*/
    height:30px;
    margin-right:20px;
    opacity:0;
}


#mongodbbg{
    background-image:url("/assets/mongodb-color.png");

    height:30px;
    width:103px;
    margin-right:20px;
    float:left;
}

#mongodb{
    background-image:url("/assets/mongodb.png");

    height:30px;
    width:103px;
    margin-right:20px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}


#mongodb:hover {
    /*background-image:url("../images/tech/color/mongo-db-logo170x50.png");*/

    height:30px;
    margin-right:20px;
    opacity:0;
}

span#cassandrabg{
    background-image:url("/assets/cassandra-color.png");
    height:30px;
    width:150px;
    margin-right:10px;
    float:left;
}

#cassandra{
    background-image:url("/assets/cassandra.png");
    height:30px;
    width:150px;
    margin-right:10px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}


#cassandra:hover {
    /*background-image:url("../images/tech/color/Cassandra_logoXx50.png");*/
    height:30px;
    margin-right:10px;
    opacity:0;
}

span#nodejsbg{
    background-image:url("/assets/nodejs-color.png");
    height:25px;
    width:92px;
    margin-right:4px;
    float:left;
}

#nodejs{
    background-image:url("/assets/nodejs.png");
    height:25px;
    width:92px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#nodejs:hover {
    /*background-image:url("../images/tech/color/nodejs-light-183x50.png");*/
    height:25px;
    margin-right:4px;
    opacity:0;
}

div#altoservbg{
    background-image:url("/assets/altoserv.png");
    margin-right:30px;
    height:60px;
    width:250px;
    float:left;
}

#altoserv{
    background-image:url("/assets/altoserv.png");
    height:60px;
    width:250px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#altoserv:hover {
    margin-right:4px;
    height:50px;
    opacity:0;
}


div#pulse_energybg{
    background-image:url("/assets/pulse_energy.png");
    margin-right:30px;
    height:70px;
    width:170px;
    float:left;
    /*  border: 5px solid red;*/
}

#pulse_energy{
    background-image:url("/assets/pulse_energy.png");
    height:70px;
    width:170px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#pulse_energy:hover {
    margin-right:4px;
    height:50px;
    opacity:0;
}

div#lens_bricksbg{
    background-image:url("/assets/lens_bricks.png");
    margin-right:30px;
    height:80px;
    width:150px;
    float:left;
    background-size: 150px 80px;
}

#lens_bricks{
    background-image:url("/assets/lens_bricks.png");
    height:80px;
    width:150px;
    background-size: 150px 80px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#lens_bricks:hover {
    margin-right:4px;
    height:50px;
    opacity:0;
}

div#altheabg{
    background-image:url("/assets/althea-systems.png");
    margin-right:30px;
    height:31px;
    width:100px;
    float:left;
    /*  border: 5px solid red;*/
}

#althea{
    background-image:url("/assets/althea-systems.png");
    height:31px;
    width:100px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#althea:hover {
    margin-right:4px;
    height:50px;
    opacity:0;
}

div#impactbg{
    background-image:url("/assets/impactdialing-color.png");
    margin-right:30px;
    height:40px;
    width:200px;
    float:left;
    /*  border: 5px solid red;*/
}

#impact{
    background-image:url("/assets/impactdialing-color.png");
    height:40px;
    width:200px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#impact:hover {
    margin-right:4px;
    height:40px;
    opacity:0;
}
div#brandscopebg{
    background-image:url("/assets/brandscope-color.png");
    margin-right:30px;
    height:60px;
    width:150px;
    float:left;
    /*  border: 5px solid red;*/
}

#brandscope{
    background-image:url("/assets/brandscope-color.png");
    height:60px;
    width:150px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#brandscope:hover {
    margin-right:4px;
    height:40px;
    opacity:0;
}

div#mphoriabg{
    background-image:url("/assets/mphoria-color.png");
    margin-right:30px;
    height:40px;
    width:150px;
    float:left;
    /*  border: 5px solid red;*/
}

#mphoria{
    background-image:url("/assets/mphoria-color.png");
    height:40px;
    width:150px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;


}

#mphoria:hover {
    margin-right:4px;
    height:40px;
    opacity:0;
}

span#railsbg {
    background-image:url("/assets/rails-color.png");
    height:25px;
    width:83px;
    margin-right:20px;
    float:left;

}

#rails{
    background-image:url("/assets/rails.png");
    height:25px;
    width:83px;
    margin-right:20px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

#rails:hover {
    /*background-image:url("../images/tech/color/rails165x50.png");*/
    height:25px;
    margin-right:20px;
    opacity:0;
}
