@import "bootstrap.less";

.aright { float:right;}
.aleft { float:left; }

.sublime-txt { color: #BFBFBF; }

.site_frame {
    width: 960px;
    padding: 20px;
    background-color: white;
}

@bg: #EBEBEB;
@nav-link-color: #60757B; // #90A2A7;
@nav-link-color-hover: #333;

body {
    background-color: @bg;
}

.nav {
    text-shadow: 0 1px 1px #E2E7E8;
    font-family: verdana;
    font-size: 0.9em;
    margin: 0 auto;
    float: none;
    .site_frame;

    background-color: @bg;

    .navlinks {
        padding-right: 10px;
        a {
            text-transform: uppercase;
            color: @nav-link-color;
            &:hover {
                color: @nav-link-color-hover;
            }
        }
    }

    .contact_details {
        float: right;
        font-size: .8em;
        .phone {
            padding-right: 10px;
        }
        span {
            color: @nav-link-color-hover;
            .value, a {
                color: @nav-link-color;
            }
        }
    }
}

.page.homepage2 {
    border: 0;
    .box-shadow(0 0 10px rgba(0, 0, 0, 0.15));
    .border-radius(5px);
    .site_frame;
}

.ctoa {
    padding: 0px;
    margin: @baseline*2 0;
    
    font-family: Georgia;
    text-shadow: 2px 1px 3px #BFBFBF;
    .aleft div {
        font-size: 53px;
        padding-top: 106px;
    }
    .rbrace {
        font-size: 250px;
        font-family: sans-serif;
        line-height: 1;
        color: rgba(0,0,0,0.2);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
        height: 280px;
        padding-left: 35px;
        .aleft;
    }
    .aright {
        div {
            padding: 5px;
        }
        .and {
            text-align: right;
            padding-right: 40px;
            .sublime-txt;
        }
    }
}

.clear {
    clear:both;
}

.bio {
    .aboutpage {
        font-size: 1.3em;
    }
    margin: 20px auto;
}

div.cols2.bio div.col {
    padding: 0;
}

.us {
    .border-radius(3px);
    .box-shadow(0 0 10px rgba(0, 0, 0, 0.15));
    padding: 15px;
    margin: 20px;
    img {
        height: 100px;
        width: 100px;
        float: left;
    }
    h2 {
        padding: 5px 10px 5px 20px;
        float: left;
        div { padding-bottom: 10px; }
    }
    .clearfix;
}

.about-us-text {
    margin: 20px;
    line-height: 1.5em;
}