@import "bootstrap.less";

@bg: #EBEBEB;
@nav-link-color: #60757B; // #90A2A7;
@nav-link-color-hover: #333;

.aright { float:right;}
.aleft { float:left; }

.sublime-txt { color: #BFBFBF; }

.site_frame {
    width: 960px;
    padding: 20px;
    background-color: white;
}

.normal-fonts {
    font-family: Georgia, Arial, sans-serif;
    font-weight:normal; 
}
.fancy-fonts {
    font-family:La Belle Aurore, Arial,sans-serif; 
    font-weight:normal; 
}    

body {
    .normal-fonts;
    background-color: @bg;
}

p {
    .normal-fonts;
    line-height: 1.5em;
}

h1 { 
    .normal-fonts;
    font-size: 50px; 
    font-weight: bold; 
    margin: 20px;
    text-align: center;
    text-shadow: 2px 1px 1px #777777;
    
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

h2 { 
    margin-bottom:0.3em; 
    .fancy-fonts;
    font-size:25px; 
    line-height:100%; 
    text-align:center; 
    letter-spacing:1px; 
    margin: 15px;
} 

h3 { 
    margin-bottom:0.2em; 
    .fancy-fonts;
    font-size:20px; 
    line-height:100%; 
    letter-spacing:1px; 
} 


.nav {
    text-shadow: 0 1px 1px #E2E7E8;
    font-family: verdana;
    font-size: 0.9em;
    margin: 0 auto;
    float: none;
    .site_frame;

    background-color: @bg;

    .navlinks {
        padding-right: 10px;
        a {
            text-transform: uppercase;
            color: @nav-link-color;
            &:hover {
                color: @nav-link-color-hover;
            }
        }
    }

    .contact_details {
        float: right;
        font-size: .8em;
        .phone {
            padding-right: 10px;
        }
        span {
            color: @nav-link-color-hover;
            .value, a {
                color: @nav-link-color;
            }
        }
    }
}

.page.homepage2 {
    border: 0;
    .box-shadow(0 0 10px rgba(0, 0, 0, 0.15));
    .border-radius(5px);
    .site_frame;
}

.ctoa {
    padding: 0px;
    margin: @baseline*2 0;
    
    font-family: Georgia;
    text-shadow: 2px 1px 3px #BFBFBF;
    line-height: 100%;
    font-size: 75px;
    
    .aleft div {
        font-size: 53px;
        padding-top: 106px;
    }
    .rbrace {
        font-size: 250px;
        font-family: sans-serif;
        line-height: 1;
        color: rgba(0,0,0,0.2);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
        height: 280px;
        padding-left: 35px;
        .aleft;
    }
    .aright {
        div {
            padding: 5px;
        }
        .and {
            text-align: right;
            padding-right: 40px;
            .sublime-txt;
        }
    }
}

.clear {
    clear:both;
}

div.cols2.bio div.col {
    padding: 0;
}

.box {
    .border-radius(3px);
    .box-shadow(0 0 10px rgba(0, 0, 0, 0.15));
    padding: 15px;
    margin: 20px;
}    

.us {
    .box;
    width: 70%;
    img {
        height: 100px;
        width: 100px;
        float: left;
    }
    > div {
        float: left;
        width: 540px;
        padding: 5px 10px 5px 20px;
        .info {
            span {
                font-size: 20px;
            }
            a {
                margin-left: 15px;
            }
            margin-bottom: 10px;
        }
        .rant {
            line-height: 1.5em;
            color: #777;
        }
    }
    .clearfix;
    &:hover {
        background-color: darken(@bg, 10%);
    }
}

.about-us-text {
    margin: 20px;
    line-height: 1.5em;
}

.our-hacks {
}

.project {
    > div {
        .box;
        width: 70%;
        padding-bottom: 25px;
        &:hover {
            background-color: darken(@bg, 10%);
        }
    }
    h2 {
        font-family: Georgia, Arial, sans-serif;
        text-align: left;
        a {
            font-size: 17px;
            margin-left: 30px;
            text-decoration: underline;
        }
    }

    .description {
        margin-left: 40px;
    }

    h3 {
        font-family: Georgia, Arial, sans-serif;
        text-align: left;
    }
}

.clients {
    > div {
        margin-left: 100px;
    }
}
