
body {
    margin:0;
    padding:0;
    background:#fff;
    font-family: 'arial', sans-serif;
    text-align:left;
    color:#444;
    
}
/* h1 { */
/*     font-family: Georgia, Arial, sans-serif; */
/*     font-size: 80px; */
/*     font-weight: bold; */
/*     line-height: 100%; */
/*     margin: 0 0 0.1em; */
/*     padding: 0; */
/*     text-align: center; */
/*     text-shadow: 2px 1px 1px #777777; */
/* } */
/* h2{ */
/*     margin-bottom:0.3em; */
/*     padding:0; */
/*     font-family:La Belle Aurore, Arial,sans-serif; */
/*     font-weight:normal; */
/*     font-size:25px; */
/*     line-height:100%; */
/*     text-align:center; */
/*     letter-spacing:1px; */

/* } */

/* h3 { */
/*     margin-bottom:0.2em; */
/*     padding:0; */
/*     font-family:La Belle Aurore, Arial,sans-serif; */
/*     font-weight:normal; */
/*     font-size:20px; */
/*     line-height:100%; */
/*     letter-spacing:1px; */

/* } */

p {
    font-size:.8em;
    line-height:1.4em;
    margin:0 0 1.5em 0;
    padding:0;
    font-family:droid sans;
}
p#subhead {
    margin-bottom:0;
    text-align:center;
}
p#footer {
    position:relative;
    z-index:200000;
    clear:both;
    margin:1em 0;
    font-size:.8em;
    text-align:center;
    color:#FFF;
}
pre {
    overflow:auto;
    margin:0 0 1em 0;
    padding:20px;
    background-color:#ECE9D0;
    border-radius:8px;
    font-family:'Andale Mono',monospace;
    font-size:.7em;
    line-height:1.2em;
    color:#666;
}
pre i {
    font-style:normal;
    color:#514CD6;
}
pre b {
    font-weight:normal;
    color:#BE0009;
}
a:link,
a:visited {
   text-decoration:none;color:#444;
   
}


a.button {
    position:relative;
    z-index:200000;
    overflow:hidden;
    display:block;
    margin:4px;
    padding:10px;
    border-radius:8px;
    border-width:0;
}
a.button:hover {
    background-color:#ECE9D0;
    box-shadow:1px 2px 8px #999;
}
a.button span {
    display:block;
    float:right;
    width:175px;
    padding-top:20px;
    font-size:.9em;
}
a.button span strong {
    font-size:1.4em;
}
#footer a:link,
#footer a:visited {
    color:#444;
    -webkit-transition:color 0.7sease-in;  
    -moz-transition:color 0.7s ease-in; 
    -o-transition:color 0.7s ease-in;  
    transition:color 0.7s ease-in;
}
#footer a:hover {
    background-color:#fff;
    height:230px;
    border-style:none !important;
    text-shadow:none;
    color:#860505;
    }
    
#footer{
    border-top: 1px solid #C7C7C7;
    margin: 23px 0px 0px;
    padding: 23px 0;
}

/*******   FlexiSlider    *******/  
    #container {
    width: 80%; max-width: 800px; margin: 60px auto 120px;
    }

/* Page Structure */

div.page {
    overflow:hidden;
    width:960px;
    margin:0px auto .5em auto;
    padding:2em 2em 3em 2em;
    background-color:#fff;
     border-top: 5px solid #777777;
}

div.cols3 {
    overflow:hidden;
    padding: 10px 0;
}

div.col {
    float:left;
    margin:0;
}

div.cols3 div.col {
    width:304px;
    padding:0 0 0 24px;
}

div.cols2 div.col {
    width:468px;
    padding:0 0 0 24px;
}

div.cols div.col:first-child {
    padding-left:0;
}


/* Media Query Adjustments */
@media screen and (min-width:1001px) {
    div.page {
        width:960px;
        margin:0px auto .5em auto;
        padding:2em 2em 0em 2em;
    }
    div.col {
        float:left;
        margin:0;
    }
    div.cols3 div.col {
        width:304px;
        padding:0 0 0 24px;
    }
    div.cols3 div.colspan2 {
        width:632px;
    }
    div.cols3 div.colspanBox {
        width:584px; 
        margin-left:24px; 
        padding-right:24px; 
        padding-bottom:20px; 
        border-radius:20px;
    }
    div.cols2 div.col {
        width:468px;
        padding:0 0 0 50px;
    }
    div.cols div.col:first-child {
        padding-left:0;
    }
}
@media screen and (max-width:1000px) {
    div.page {
        width:94%;
        margin:0px auto .5em auto;
        padding:2%;
    }
    div.col {
        float:left;
        margin:0;
    }
    div.cols3 div.col {
        width:32%;
        padding:0 0 0 2%;
    }
    div.cols3 div.colspan2 {
        width:65.33333%;
    }
    div.cols3 div.colspanBox {
        width:63.33333%; 
        margin-left:1%; 
        padding-right:1%; 
        padding-bottom:20px; 
        border-radius:20px;
    }
    div.cols2 div.col {
        width:49%;
        padding:0 0 0 2%;
    }
    div.cols div.col:first-child {
        padding-left:0;
    }
    a.button span {
        width:100%;
        padding-top:0;
        text-align:center;
    }
    a.button img {
        display:block;
        float:none;
        margin:0 auto;
    }
    div.nav {
    margin-top:-13px;
    }
}
@media screen and (max-width:768px) {
    h1 {
        font-size:60px !important;
     }
    div.page {
        width:96%;
        margin:0 auto;
        padding:2%;
    }
    div.col {
        float:none;
        margin:0;
    }
    div.cols3 div.col,
    div.cols3 div.colspan2,
    div.cols2 div.col {
        width:100%;
        padding:0;
    }
    div.cols3 div.colspanBox {
        width:94%;
        padding:2%;
        margin:0 1%; 
    }
    a.button {
        width:200px;
        margin:20px auto 0 auto;
    }
    a.button span {
        width:100%;
        padding-top:0;
        text-align:center;
    }
    a.button img {
        display:block;
        float:none;
        margin:0 auto;
    }
    
    div.nav {
        margin-top:-15px;
        padding:7px;
    }
    .lowresborder {border-bottom:1px solid #ccc;
    }
    .fleft {float:left !important;}
    .fright{float:right !important;}    
}   

/* Navigation */
    
    .aboutlink a {
    color:#444;
    -webkit-transition:color 0.5sease-in;  
    -moz-transition:color 0.5s ease-in; 
    -o-transition:color 0.5s ease-in;  
    transition:color 0.5s ease-in;
    }
    
    .aboutlink a:hover {
    background-color:#fff;
    height:230px;
    border-style:none !important;
    text-shadow:none;
    color:red;
    }
    
    .nav {
    float:right;
    margin-top:-28px;
    }
    
    .nav span.navlinks a { 
    font-size:1em;
    font-family:droid sans;
    }
    
    .nav span.navlinks a:active {
    color:#777;
    }
    
    .nav span.navlinks a:visited {
    font-color:#b1b1b1;
    }


    
/* KickButt Message  */
    
    #kickbuttmessage { 
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 170px;
    }
    
    h2, h1 {
    padding-bottom:10px;
    }
    
    h2, h1, p#subhead {
    text-align:center;
    
    }
    
    p#subhead{
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.4);
    border-bottom:1px solid rgba(0, 0, 0, 0.15);
    }
    #footer {
    border-top:1px solid #c7c7c7;
    }
    #company {
        color:#777;
        text-align:center;
        letter-spacing:3px;
        font-size:10px;
        font-family:droid sans;
        padding-top:15px;
    }

/* Technologies*/
.technologies { 
    padding-right:20px;
}

span#rubybg {
    background-image:url("/assets/ruby-color.png");
    height:30px;
    width:30px;
    float:left;
    margin-right:23px;
}

#ruby {
    background-image:url("/assets/ruby.png");
    height:30px;
    width:30px;
    margin-right:23px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
}

#ruby:hover {
    /*background-image:url("../images/tech/color/rubyXx50.png");*/
    height:30px;
    margin-right:23px;
    opacity:0;
    
}

span#couchdbbg {
    background-image:url("/assets/couchdb-color.png");
    height:30px;
    width:36px;
    float:left;
    margin-right:23px;
}

#couchdb {
    background-image:url("/assets/couchdb.png");
    height:30px;
    width:36px;
    margin-right:23px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
}

#couchdb:hover {
    /*background-image:url("../images/tech/color/couchdb-logoXx50.png");*/
    height:30px;
    margin-right:23px;
    opacity:0;
}

span#redisbg{
    background-image:url("/assets/redis-color.png");
    height:30px;
    width:94px;
    margin-right:20px;
    float:left;
}

#redis{
    background-image:url("/assets/redis.png");
    height:30px;
    width:94px;
    margin-right:20px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
}
    

#redis:hover {
    /*background-image:url("../images/tech/color/redis-Xx50.png");*/
    height:30px;
    margin-right:20px;
    opacity:0;
}


#mongodbbg{
    background-image:url("/assets/mongodb-color.png");

    height:30px;
    width:103px;
    margin-right:20px;
    float:left;
}

#mongodb{
    background-image:url("/assets/mongodb.png");

    height:30px;
    width:103px;
    margin-right:20px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
}
    

#mongodb:hover {
    /*background-image:url("../images/tech/color/mongo-db-logo170x50.png");*/

    height:30px;
    margin-right:20px;
    opacity:0;
}

span#cassandrabg{
    background-image:url("/assets/cassandra-color.png");
    height:30px;
    width:150px;
    margin-right:10px;
    float:left;

}

#cassandra{
    background-image:url("/assets/cassandra.png");
    height:30px;
    width:150px;
    margin-right:10px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
}
    

#cassandra:hover {
    /*background-image:url("../images/tech/color/Cassandra_logoXx50.png");*/
    height:30px;
    margin-right:10px;
    opacity:0;
}

span#nodejsbg{
    background-image:url("/assets/nodejs-color.png");
    height:25px;
    width:92px;
    margin-right:4px;
    float:left;
}

#nodejs{
    background-image:url("/assets/nodejs.png");
    height:25px;
    width:92px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;

}

#nodejs:hover {
    /*background-image:url("../images/tech/color/nodejs-light-183x50.png");*/
    height:25px;
    margin-right:4px;
    opacity:0;
}

div#altheabg{
    background-image:url("/assets/althea-systems.png");
    margin-right:30px;
    height:31px;
    width:100px;
    float:left;
	
}

#althea{
    background-image:url("/assets/althea-systems.png");
    height:31px;
    width:100px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
   
	
}

#althea:hover {
	margin-right:4px;
	height:50px;
    opacity:0;
}

div#impactbg{
    background-image:url("/assets/impactdialing-color.png");
    margin-right:30px;
    height:40px;
    width:200px;
    float:left;
	
}

#impact{
    background-image:url("/assets/impactdialing-color.png");
    height:40px;
    width:200px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
   
	
}

#impact:hover {
	margin-right:4px;
	height:40px;
    opacity:0;
}
div#brandscopebg{
    background-image:url("/assets/brandscope-color.png");
    margin-right:30px;
    height:60px;
    width:150px;
    float:left;
	
}

#brandscope{
    background-image:url("/assets/brandscope-color.png");
    height:60px;
    width:150px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
   
	
}

#brandscope:hover {
	margin-right:4px;
	height:40px;
    opacity:0;
}

div#mphoriabg{
    background-image:url("/assets/mphoria-color.png");
    margin-right:30px;
    height:40px;
    width:150px;
    float:left;
	
}

#mphoria{
    background-image:url("/assets/mphoria-color.png");
    height:40px;
    width:150px;
    margin-right:4px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
   
	
}

#mphoria:hover {
	margin-right:4px;
	height:40px;
    opacity:0;
}




span#railsbg {
    background-image:url("/assets/rails-color.png");
    height:25px;
    width:83px;
    margin-right:20px;
    float:left;

}




#rails{
    background-image:url("/assets/rails.png");
    height:25px;
    width:83px;
    margin-right:20px;
    float:left;
    opacity:1.0;
    -webkit-transition:all 0.4s ease-in-out;  
    -moz-transition:all 0.4s ease-in-out; 
    -o-transition:all 0.4s ease-in-out;  
    transition:all 0.4s ease-in-out;
}

#rails:hover {
    /*background-image:url("../images/tech/color/rails165x50.png");*/
    height:25px;
    margin-right:20px;
    opacity:0;
}




    
    
    
/********** ABOUT PAGE ********* /  
    
    /* Frame Left */
    
    .photoframeleft:after {
        height: 98%;
        padding: 0 0 1px;
        position: absolute;
        right: 0;
        width: 98%;
        z-index: 1;
    }
    .photoframeleft:before {
        content: "";
        height: 100%;
        padding: 0 0 5px;
        position: absolute;
        right: 0;
        width: 98%;
        z-index: 0;
    }

    .photoframeleft 
        {
        width: 320px !important;
        min-height: 150px !important;
        padding: 17px 17px 0 20px !important;
        position:relative !important;
        }
    .photoframeleft img{
      border-radius: 10px;
      box-shadow: 10px 10px 5px #888888;
    }
        
        
    /* Frame Right */
        
    .photoframeright:after {
        border: 1px solid #CCCCCC;
        bottom: 0;
        height: 98%;
        padding: 0 0 1px;
        position: absolute;
        right: 0;
        width: 98%;
        z-index: 1;
    }
    .photoframeright:before {
        border: 1px solid #CCCCCC;
        bottom: 0;
        box-shadow: 3px 3px 7px #CCCCCC;
        content: "";
        height: 100%;
        padding: 0 0 5px;
        position: absolute;
        right: 0;
        width: 98%;
        z-index: 0;
    }

    .photoframeright 
        {
        margin: 35px 50px 100px 0px !important;
        width: 320px !important;
        min-height: 150px !important;
        padding: 17px 17px 0 20px !important;
        position:relative ;
        background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff)) ;
        border: 1px solid #ccc ;
        -webkit-box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
        -webkit-border-bottom-right-radius: 60px 5px ;
        }
    
 /* Bios */
    
    .bioleft {
    padding-left:0 !important;
    padding-right:60px !important;
    width:410px !important;
    margin-bottom:20px;
    margin-top:8px !important;
    }
    
    .bioright {
    margin-left:40px;
    width:410px !important;
    margin-bottom:20px !important;
    margin-top:8px !important;
    }
    
    .bioright p,.bioleft p {
    line-height:1.8em !important;
    }
    
    h2.aboutpage {
    font-weight:normal;
    font-family: Georgia, Arial, sans-serif;
    text-align:left;
    }

    a.twitterlink {
    color:#444;
    font-size: 20px;
    letter-spacing: 3px;
    font-family:La Belle Aurore,cursive;
    -webkit-transition:color 0.7s ease-in;  
    -moz-transition:color 0.7s ease-in; 
    -o-transition:color 0.7s ease-in;  
    transition:color 0.7s ease-in;
    }
    
    a.twitterlink:hover {
    color:#0095c3;
    }
            
    .empty {       /* Clear Floats */
    clear:both;
    }
        
    p.photoframeleft, p.photoframeright {
    margin:30px;outline:none;
    }

/********** END ABOUT PAGE STYLING ********* /      

/*******  HOME PAGE 2 STYLING    *******/   
    
    div.homepage2 #kickbuttmessage a:link,a:visited { 
    color:#444;
    -webkit-transition:all 0.6s ease-in-out;  
    -moz-transition:all 0.6s ease-in-out; 
    -o-transition:all 0.6s ease-in-out;  
    transition:all 0.6s ease-in-out;}
    

    div.homepage2 #kickbuttmessage a:hover { 
    color:red;
    text-decoration:none;
    }
    
    div.homepage2 #kickbuttmessage a.hover1:hover {
    
    }
    
        
/* Footer Logo */
    #logo {
    background:url("/assets/logo-flip.png") no-repeat -75px 0;
    height:80px;
    margin: 10px auto;
    width: 75px;
    -webkit-transition:background 0.2s ease-in-out;  
    -moz-transition:background 0.2s ease-in-out; 
    -o-transition:background 0.2s ease-in-out;  
    transition:background 0.2s ease-in-out;
    }
    

    #logocover {
    background:url("/assets/logo-gray.png") no-repeat 0 0;
    height:80px;
    margin: 10px auto;
    width: 75px;
    opacity:1;
    -webkit-transition:all 0.5s ease-in-out;  
    -moz-transition:all 0.5s ease-in-out; 
    -o-transition:all 0.5s ease-in-out;  
    transition:all 0.5s ease-in-out;
    }
    
    #logocover:hover {
    opacity:0;
    }
    
a:hover {
  color:#0095c3;
}
.contact{
  width: 500px;
  margin-left:260px;
}
#header h2{
  text-align: center;
}