<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include site_header.html%}
    <main class="main" id="main">
      <article class="layout{% for container in page.content_containers %} {{ container }}{% endfor %} {{ page.container }}">
        {{content}}
      </article>
    </main>
    {% if page.plug %}
    {% include plug.html %}
    {% endif %}

    {% if page.client_logos %}
    {% include client_logos.html border_top=page.client_logos_border_top %}
    {% endif %}
    {% include site_footer.html %}
    {% include analytics.html %}
    {% comment %}
    <script src='/public/main.js'></script>
    {% endcomment %}
  </body>
</html>
