<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include site_header.html%}
    <article class="layout{% for container in page.content_containers %} {{ container }}{% endfor %} {{ page.container }}">
      {{content}}
    </article>

    {% if page.plug %}
    {% include plug.html %}
    {% endif %}

    {% if page.client_logos %}
    {% include client_logos.html %}
    {% endif %}

    {% include site_footer.html %}
    {% include analytics.html %}
    <script src='/public/main.js'></script>
  </body>
</html>
