!!! Strict
%html{:lang => "en"}
  %head
    {% include head.html %}

    {% if site.production %}
    {% include olark_chat.html %}
    {% endif %}

  %body
    {% include header.html %}
    {% include main-nav.html %}
    
    .page.homepage2
      {{content}}
      
    -# = yield(:javascript)
    {% include footer.html %} 
    {% include analytics.html %}    
