<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="body-wrapper">
    {% include header.html %}
    <div class='page container'>
      <div class="post">
        <div class="row">
          <div class="meta col-md-12">
            <h2>
              <a href="{{ page.url }}"> {{ page.title }} </a>
            </h2>
            {% if page.author %}
            <h3>
              <i>by {{ page.author }}</i>
            </h3>
            {% endif %}
          </div>
          <div class="col-md-2"></div>
        </div>

        <div class="row">
          <div class="post-content col-md-12">
            {{content}}
          </div>
        </div>
      </div>

      <section class="page-nav">
        {% if page.next %}
        <a href="{{ page.next.url }}">&lArr;  {{ page.next.title }} </a>
        {% endif %}
        &nbsp; | &nbsp;
        {% if page.previous %}
        <a href="{{page.previous.url}}">{{page.previous.title}} &rArr;</a>
        {% endif %}
      </section>
    </div>

    <footer></footer>
    {% include analytics.html %}
    </div>
  </body>
</html>
