<!DOCTYPE html>
<html lang='en'>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="body-wrapper">
    {% include header.html %}
    <div class='page'>
      <div class="post">
        <div class="meta">
          <h2>
            <a href="{{ page.url }}"> {{ page.title }} </a>
          </h2>
          {% if page.author %}
          <h3>
            <i>by {{ page.author }}</i>
          </h3>
          {% endif %}
        </div>

        <div>
          <div class="post-content">
            {{content}}
          </div>

          <section class="categories">
            {% if page.categories.size > 0 %}
            <h3>Categories</h3>
            {{ page.categories | category_list_links }}
            {% endif %}
          </section>
        </div>
        <div class="clear"></div>
      </div>

      <section class="page-nav">
        {% if page.next %}
        <a href="{{ page.next.url }}">&lArr;  {{ page.next.title }} </a>
        {% endif %}
        &nbsp; | &nbsp;
        {% if page.previous %}
        <a href="{{page.previous.url}}">{{page.previous.title}} &rArr;</a>
        {% endif %}
      </section>
    </div>

    {% include footer.html %}
    {% include analytics.html %}
    </div>
  </body>
</html>
