---
layout: default
---

<header class="article__header">
  <h1 class="article__title"><a class="article__title-link" href="{{ page.url }}">{{ page.title }}</a></h1>
  {% if page.author or page.date %}
  <ul class="list list--inline list--middot-seperated article__meta">
    {%- if page.author -%}
    <li>By {{ page.author }}</li>
    {%- endif -%}{%- if page.date -%}
    <li>{{ page.date | date: "%-d %b %Y"}}</li>
    {%- endif -%}
  </ul>
  {% endif %}
</header>

{{content}}

{% include posts_pagination.html %}
