!!! Strict
%html{lang: "en"}
  %head
    %meta{:content => "L_hGWN3oT-fBOYKgOIM2HQ9k4bYwgawmHNJcnVzTy9Y", :name => "google-site-verification"}/
    %meta{:content => "Ruby Rails Web Development Bangalore India", :name => "title"}/
    %meta{:content => "Ruby on Rails developers. Contact ActiveSphere for custom ruby on rails development in Bangalore, India", :name => "description"}/
    %meta{:content => "Ruby Rails Web Development RoR RubyOnRails Ruby on Rails Nodejs Bangalore India", :name => "keywords"}/
    %meta{:content => "index, follow", :name => "robots"}/
    %meta{name: 'viewport', content: "initial-scale=1.0,width=device-width"}

    %meta{name:"google", value:"notranslate"}
    
    %link{href: 'http://fonts.googleapis.com/css?family=Oswald|Droid+Sans|La+Belle+Aurore', rel:'stylesheet', type: 'text/css' }
    -# %link{:href => "/assets/blueprint/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/common.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    
    %script{:type => "text/javascript",
            :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
      
    = csrf_meta_tag
    = javascript_include_tag :application
  
    %title
      ActiveSphere: - We care about your apps
  %body
    .nav
      %span.navlinks
        %a{href: root_path} home
      %span.navlinks
        %a{href: about_us_path} about
      %span.navlinks
        %a{href: contact_path} contact
      %span.navlinks
        %a{href: our_hacks_path} hacks
      %span.navlinks
        %a{href: careers_path} careers
      %span.navlinks
        %a{href: 'http://blog.activesphere.com/'} blog

      %span.contact_details
        %span.phone
          phone:
          %span.value
            %a{href: "tel:+91 9663681428"} +91 9663681428
        %span.email
          email:
          %span.value
            %a{href: "mailto:contact@activesphere.com"} contact@activesphere.com
        
        
    .page.homepage2
      = yield
      
    #footer
      -# #logo
      -#   #logocover
      #company &copy; 2012 ACTIVESPHERE
      
      
    
    = yield(:javascript)

    :javascript 
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-10221263-5");
        pageTracker._trackPageview();
      } catch(err) {}
          
          
